/*

*/

@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import 'menu';

/*
Reset
*/

.btn-none {
  background: transparent;
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
}

body input, body textarea {
  @apply shadow-sm border-gray-300 border-[1px] rounded-[4px] focus:ring-2 focus:ring-indigo-200 focus:border-indigo-400
}