@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

.flag_1 {
    background-color: #0dcaf0;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

/*demo styles above*/

$navigationbg :#e5e5e5;
$level1bg     :#e5e5e5;
$level2bg     :#e5e5e5;
$verticalnavlinkcolor :#333;
$verticalnavlinkcolor-hover :#000;
$arrowcolor:#53c0ad;

aside{
    width:250px;
    margin-top: 20px;
}
.dropmenu{
    z-index: 5;
    width:200px;
}
.drop_menu_selected {
    background: #ccc;
}
.drop_menu_block{

        display:block;
}
.nav--vertical{
    list-style-type:none;
    margin: 0;
    padding: 0;

    a{
        color:$verticalnavlinkcolor;
        &:hover{
            color:$verticalnavlinkcolor-hover;
        }

    }
    li{
        position: relative;
        display:block;

        &.dropmenu{
            ul{
                display:none;
            }
        }
        //&.ul:hover{
        //    > a{
        //        background: #ccc;
        //    }
        //}
        &.dropmenu:after{
            content: "";
            position: absolute;
            right: 10px;
            top: 40%;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 4px solid $arrowcolor;
        }
    }
    >li{
        a{
            text-decoration:none;
            padding:7px 10px;
            display:block;
            margin-bottom: 1px;;
        }
        ul{
            list-style-type:none;
            margin: 0;
            padding: 0;
            position: absolute;
            left:100%;
            &.level1, &.level2{
                min-width:150px;
                top:0;
                border-left: 1px solid #fff;
            }

        }
    }
}

.nav--vertical{
    li{
        a{
            @include transition (all 0.2s ease-in-out);
        }
    }
    > li{
        > a{
            background: $navigationbg;
        }
        .level1{
            >li{
                a{
                    background: $level1bg;
                }
            }
        }
        .level2{
            >li{
                a{
                    background: $level2bg;
                }
            }
        }
    }
}
.nav--vertical{
    li:hover{
        a{
            background: #ccc;
        }
        li:hover{
            > a{
                background: #ccc!important;
            }
        }

    }
}
