// overrides.scss

.mx-calendar-content .cell.active {
  @apply rounded-md;
  color: #fff !important;
  background-color: var(--impala-color-primary) !important;
}

.mx-datepicker {
  width: 170px !important;
}

.mx-time-column .mx-time-item.active, .mx-table-date .today {
  color: var(--impala-color-primary) !important;
}

// Vue 3 Select Component
.vue-select.open {
  .single-value {
    position: relative !important;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
  }

  .menu {
    display: flex;
    flex-direction: column;
    width: fit-content !important;

    .menu-option {
      flex: 0 1 100% !important;
      white-space: nowrap;
    }
  }
}

// vueConfirm

.vc-btn {
  color: var(--impala-color-primary) !important;
}

// datatables

div.dt-container {
  @apply text-sm font-medium text-[var(--impala-color-gray-600)];
}

div.dt-container.dt-empty-footer tbody > tr:last-child > * {
  border-bottom: 0 !important;
}

div.dt-processing > div:last-child > div {
  background-color: var(--impala-color-primary) !important;
}

div.dt-container .dt-paging .dt-paging-button {
  @apply py-1.5;
  border: 0 !important;
  border-radius: 3px !important;
}



.datatable div.dt-container .dt-paging .dt-paging-button.current, .datatable div.dt-container .dt-paging .dt-paging-button.current:hover {
  border: 0 !important;
  background: var(--impala-color-primary) !important;
  color: #fff !important;
}

div.dt-container .dt-paging .dt-paging-button:hover {
  border: 0 !important;
  background: var(--impala-color-primary-light) !important;
}

div.dt-container .dt-paging .dt-paging-button.disabled:hover {
  background-color: transparent !important;
}

table.dataTable.impala-datatable {
  border-radius: 6px;
  overflow: hidden;
}

table.dataTable.impala-datatable > tbody > tr.selected > * {
  box-shadow: none;
  color: inherit;
}

table.dataTable.impala-datatable > tbody > tr:nth-child(2n+1) > * {
  background-color: #fff !important;
}

table.dataTable.impala-datatable > thead > tr > *,
table.dataTable.impala-datatable > tbody > tr:nth-child(2n) > * {
  background-color: var(--impala-color-gray-100) !important;
}

table.dataTable.impala-datatable > thead > tr > th, table.dataTable.impala-datatable > thead > tr > td {
  @apply py-2.5 px-4 text-xs font-medium text-[var(--impala-color-gray-800)];

  border-bottom: var(--impala-color-gray-400);
}

table.dataTable.impala-datatable > tbody > tr > td {
  @apply py-2.5 px-4 text-sm font-medium text-[var(--impala-color-gray-800)];
}

table.dataTable.impala-datatable > tbody > tr.unread > td {
  @apply font-bold !important;
}