@import url('http://fonts.cdnfonts.com/css/roboto');
.header_settings {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 35, 220, 0.1);
    box-shadow: 0px 10px 40px rgba(0, 35, 220, 0.02);
}
.logo_settings {
    height: 60px;
}
.right_menu_block_height {
    height: 60px;
}
.orders_main {
    height: 500px;
    /*background-color: #F7F7F7;*/
    margin-left: 40px;
}

.inp_search {
    font-size: 17px;
    min-width: 171px;
    background: #FFFFFF;
    height: 36px;
    border: 1px solid #CED8DF;
    border-radius: 4px;
    /*margin-right: -30px;*/
}
.main_search {
    vertical-align: middle;
    display: inline-block;
}
.search_button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.search_button:hover {
    background: #0b7dda;
}

/* Clear floats */
/*.inp_search {*/
/*    content: "";*/
/*    clear: both;*/
/*    display: table;*/
/*}*/
.menu_block {
    display: inline-block;
    vertical-align: middle;
}
.top_menu_words {
    /*margin-left: 20px;*/
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #020E49;
    cursor: pointer;
}
.top_menu_words_settings:hover {
    cursor: pointer;
    text-decoration: underline;
}
.top_menu_words_settings {
    margin-left: 40px;
}
.top_menu_head_set {
    padding-top: 20px;
}
.search_set {
    color: #A1A9A9;

}
.fa {
    font-size: 40px;
}
.top_menu_right_words {
    margin-left: 20px;
}
.inp_search::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #A1A9A9;
}
.new_head_user_icon {
    height: 40px;
    width: 40px;
    border-radius: 100px;
}
.top_menu_3 {
    max-width: 60px;
}
.top_menu_user_name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.top_menu_icon_right {
   margin-left: 20px;
}
.orders_title_div {
    margin-top: 20px;
}
/*.orders_title_marg{*/
/*    margin-top: 16px!important;*/
/*    margin-bottom: 16px!important;*/
/*}*/
.orders_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #202020;
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}
.create_orders_button {
    width: 214px;
    height: 42px;
    background-color: #0066FA ;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    padding-top: 8px;
    padding-left: 35px;
    cursor: pointer;
    margin-right: 30px;
}
.plus_butt {
    border-radius: 100px;
    border: 1px solid #FFFFFF;
}
.button_menu_block {
    display: inline-block;
    vertical-align: middle;
}
.coloring_row {
    margin-top: 20px;
}
.coloring_row_text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin-top: 3px;
}
.header_underscore_0{
    border-bottom: 2px solid rgba(255, 165, 0);
}
.header_underscore_1{
    border-bottom: 2px solid #0064F6;
}
.header_underscore_2{
    border-bottom: 2px solid rgba(25, 135, 84);
}
.header_underscore_3{
    border-bottom: 2px solid rgba(13, 202, 240);
}
.header_underscore_4{
    border-bottom: 2px solid rgba(16, 108, 139);
}
.header_underscore_5{
    border-bottom: 2px solid rgba(25, 135, 84);
}
.color_title_1 {
    background-color: rgba(255, 224, 131, 0.5);
    border-radius: 4px 4px 0px 0px;
    margin-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.color_title_2 {
    background: rgba(0, 100, 246, 0.2);

    border-radius: 4px 4px 0px 0px;
    margin-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.color_title_3 {
    background: rgba(25, 135, 84, 0.2);
    border-radius: 4px 4px 0px 0px;
    margin-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;;
}
.color_title_4 {
    background: rgba(13, 202, 240, 0.2);

    border-radius: 4px 4px 0px 0px;
    margin-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.color_title_5 {
    background: #80ADEB;
    border-radius: 4px 4px 0px 0px;
    margin-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.color_title_6 {
    background: rgba(25, 135, 84, 0.6);
    border-radius: 4px 4px 0px 0px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.coloring_integer {
    background: #FFFFFF;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 6px;
}
.coloring_integer_green {
    border-radius: 40px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #198754;
    border: 1px solid #198754;
}
.coloring_content_int {
    display: flex;
    justify-content: flex-end;
}
.coloring_np {
    padding-right: 5px;
    margin-right: 0px!important;
}
.under_colored_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    margin-top: 3px;
    color: rgba(32, 32, 32, 0.5);
    margin-left: 20px;
}
.under_colored_title:hover {
    cursor: pointer;
}
.under_col_title_main {
    /*margin-left: -12px;*/
    border: 1px solid #CED8DF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
}
.orders_title_table_main {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    margin-top: 3px;
    color:#202020;
    padding-top: 20px;
    padding-bottom: 20px;
    /*background-color: #0dcaf0;*/
}
.head_font {
    font-size: 0.875rem;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0;
}
.head_font_grade {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color:#202020;
    margin-left: 10px;
}
.not_paid{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color:#4B4B4B;
}
.orders_title_table {
    font-size: 0.875rem;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0;

    margin-top: 3px;
    color:#202020;
    padding-top: 6px;
    padding-bottom: 6px;
}
.border_in_orders {
    border: 1px solid #CED8DF;
}
.checkbox_orders {
    height: 16px;
}
.pagination_orders_left {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color:#202020;
    margin-top: 35px;
}
.pagination_orders_stavki{
    margin-top: 12px!important;
}
.no_padding_right {
    padding-right: 0px;
}
.no_padding_left {
    padding-left: 0px;
}
.no_padding_left_imp {
    padding-left: 0px!important;
}
.no_padding_right_imp {
    padding-right: 0px!important;
}
.no_margin_top {
    margin-top: 0px;
}
.no_margin_left {
    margin-left: 0px;
}
.no_margin_right {
    margin-right: 0px;
}
.table_orders_column_settings {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 12px!important;
}
.orders_create_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #202020;
    margin-top: 30px;
}
.grade_create_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    color: #202020;
    margin-top: 30px;
}
.create_orders_date_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #636F6F;
}
.create_orders_date_title_1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #636F6F;
}
.add_cont_grade {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #4D4D4D;
}
.choose_file_grade {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #4D4D4D;
    margin-right: 10px;
}
.choose_file_grade:hover {
    cursor: pointer;
    text-decoration: underline;
}
.bank_grade {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #636F6F;
}
.bank_grade_1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #A1A9A9;
}
.bank_grade_marg {
    margin-top: 25px!important;
}
.create_orders_date_title_int_1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #4D4D4D;
}
.grade_title_lit {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #202020;
}
.add_cont_grade:hover {
    cursor: pointer;
    text-decoration: underline;
}
.cont_header_vod {
    margin-top: 20px;
    margin-bottom: 20px;
}
.cont_header_1 {
    margin-top: 20px;
}
.cont_header_2 {
    margin-top: 20px;

}
.min_ts {
    min-width: 150px;
}
.min_ts_marg {
    margin-right: 10px;
}

.inp_max_width {
        max-width: 155px;
}
.create_orders_second_title {
    margin-top: 26px;
 }
.edit_icon {
    margin-left: 10px;
    margin-bottom: 2px;
}
.edit_icon_right_menu {

}
.datePickerDiv input {
    border: none;
    background: transparent;
    display: none;
}
.little_title_create_orders {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #636F6F;
    margin-top: 16px;
    margin-bottom: 8px;
}
.little_title_grade {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #636F6F;
    margin-top: 6px;
    margin-bottom: 6px;
}
.little_title_grade_1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #636F6F;
    margin-bottom: 6px;
    margin-top: 3px;

}
.grade_marg_bot {
    margin-bottom: 15px;
}
@media (min-width: 992px) {
    .grade_marg_top {
        margin-top: -31px !important;
    }
}
@media (min-width: 1489px)
{
.grade_marg_top {
    margin-top: -16px!important;
}
}
.lit_marg_grade {
    margin-bottom: 8px;
}
.lit_marg_grade_auto {
    margin-bottom: 4px;
    margin-top: 10px!important;
}
.little_title_grade_margin {
    margin-right: 10px;
}
.grade_adr {
    width: 100%;
}
.little_title_create_orders1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #636F6F;
    margin-top: 19px;
    margin-bottom: 8px;
}
.little_title_create_orders2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #636F6F;
    margin-top: 16px;
    margin-bottom: 8px;
}
.create_orders_bottom {
    margin-top: 10px;
}
.excel_set {
    margin-left: 4px;
    border: 1px solid #CED8DF;
    border-radius: 4px;
    padding: 6px 6px 6px 6px;
    background-color: #FFFFFF;
}
.excel_set:hover {
    cursor:pointer;
}
.bold_title_create_orders {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #202020;
}
.title_cr_ord_bold_first {
    margin-top: 21px;
}
.title_cr_ord_bold_first.n1 {
    margin-top: 171px;
}
.title_cr_ord_bold_first.n2 {
    margin-top: 33px;
}
.add_button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #4D93F9;
    margin-top: 6px;
}
.add_button_grade {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #4D93F9;
}
.add_button_grade_perevozka {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #4D93F9;
}
.add_button_grade_perevozka:hover {
    cursor: pointer;
    text-decoration: underline;
}
.add_button_grade_modal {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #4D93F9;
}
.add_button_grade_modal:hover {
    cursor: pointer;
    text-decoration: underline;
}
.add_button_grade_modal_vod {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.doc_vod_block {
    margin-left: 0px!important;
    margin-right: 4px!important;
}
.add_button_grade_modal_vod:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #4D93F9;
}
.no_wrap_text {
    white-space: nowrap;
}
.inp_date {
    width: 101px;
}
.inp_time {
    width: 60px;
}
.date_width {
    min-width: 125px;
}
.date_width_col {
    min-width: 160px;
}
.grade_naz {
    margin-right:20px
}
.add_button_grade:hover {
    cursor: pointer;
    text-decoration: underline;
}
.no_padding_left_form {
    padding-left:0px!important;
}
.add_button.n1{
    margin-left:91px
}
.doc_add_row {
    margin-top: 15px;
    margin-bottom: 20px;
}
.doc_add_row_1 {
    margin-top: 16px;
    margin-bottom: 4px;
}
.close_doc:hover {
    cursor: pointer;
}
.add_button.n2{
    margin-left:81px
}
.add_button.n3{
    margin-left:109px
}
.add_button_plus {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #4D93F9;
    margin-top: 6px;
}
.add_button_plus:hover {
    cursor: pointer;
    text-decoration: underline;
}
.add_button:hover {
    cursor: pointer;
    text-decoration: underline;
}
.add_button_perevozchiki {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #4D93F9;
    margin-top: 6px;
    margin-left: 20px;
}

.create_order_right_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #202020;
}
.create_order_right_main_text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #202020;
    /*word-wrap: break-word;*/
}
.add_ts_button {
    max-width: 124px;
    max-height: 36px;
    background-color: #0066FA ;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    padding-top: 9px;
    padding-left: 13px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 4px;
}
.add_ts_button2 {
    max-width: 124px;
    max-height: 36px;
    background-color: #0066FA ;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 13px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 4px;
    margin-right: 20px;
}
.add_ts_button3 {
    max-width: 124px;
    max-height: 36px;
    background-color: #FFFFFF ;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #0066FA;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 13px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 4px;
    border: 1px solid #0064F6;
}
.add_ts_button4 {
    /*max-width: 124px;*/
    max-height: 36px;
    background-color: #0066FA ;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    padding-top: 9px;
    padding-bottom: 9px;
    cursor: pointer;
    border-radius: 4px;
}
.add_ts_button5 {
    max-width: 124px;
    max-height: 36px;
    background-color: #FFFFFF ;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #0066FA;
    padding-top: 9px;
    padding-bottom: 9px;
    /*padding-left: 13px;*/
    cursor: pointer;
    border-radius: 4px;
    margin-top: 4px;
    border: 1px solid #0064F6;
    margin-right: 20px;
}
.add_ts_button6 {
    max-width: 142px;
    max-height: 36px;
    background-color: #FFFFFF ;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #0066FA;
    padding-top: 9px;
    padding-bottom: 9px;
    /*padding-left: 13px;*/
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #0064F6;
}
.add_ts_button7 {
    max-width: 124px;
    max-height: 36px;
    background-color: #0066FA ;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 3px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 4px;
    margin-right: 20px;
}
.add_ts_button5_1 {
    padding-left: 9px;
}
.add_ts_button8 {
   max-width:  124px!important;
    max-height: 36px;
    background-color: #FFFFFF ;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #606060;
    padding-top: 9px;
    padding-bottom: 9px;
    /*padding-left: 13px;*/
    cursor: pointer;
    border-radius: 4px;
    margin-top: 4px;
    border: 1px solid #606060;
    margin-right: 20px;
}
.add_ts_button9 {
    max-width: 124px;
    background-color: #0066FA ;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 3px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 4px;
    margin-right: 20px;
}
.add_ts_button9_grade {
    max-width: 124px;
    background-color: #0066FA ;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 3px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 4px;
}
@media (max-width: 1667px) {
    .add_ts_button9_grade {
        margin-top: 18px !important;
    }
}
.add_vod_button1 {
    max-width: 142px;
    max-height: 36px;
    background-color: #FFFFFF ;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
    /*padding-left: 13px;*/
    cursor: pointer;
    border: 1px solid;
    margin-top: 20px!important;
    margin-left: 10px;
}
.create_ord_underline{
    border-bottom: 1px solid #CED8DF;
    margin-top:24px;
    margin-bottom: 17px;
}
.create_ord_underline_1{
    border-bottom: 1px solid #CED8DF;
    margin-top:24px;
    margin-bottom: 19px;
}
.grade_underline {
    border-bottom: 1px solid #CED8DF;
    margin-top:44px;
    margin-bottom: 17px;
}
.grade_left_underline {

    border-bottom: 1px solid #CED8DF;
}
.ts_grade_margin {
    margin-bottom: 20px;
}
.create_ord_right_lit_text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #636F6F;
}
.ts_podsvet {
    background-color: #20c997;
}
.mt_ts_text {
    margin-top: 10px;
}
.checkbox_create_orders {
    height: 16px;
    border: 2px solid #636F6F;
}
.checkbox_create_orders2 {
    height: 16px;
    width: 16px;
    border: 2px solid #636F6F;
}
.checkbox_create_orders2_height {
    margin-top: 5px!important;
}
.checkbox_create_orders2_height_d {
    margin-top: 4px!important;
}
.checkbox2_row {
    margin-top: 10px!important;
}
.terminal_cr_ord {
    margin-bottom: 10px;
    margin-left: 26px;
}
.cr_ord_inp_n_0 {
    width: 90%;
}
.cr_ord_inp_n_1 {
    width: 272px!important;
}
.cr_ord_inp_n_2 {
    width: 124px!important;
}
.cr_ord_inp_n_3 {
    width: 226px;
}
.cr_ord_inp_n_4 {
    width: 54px!important;
}
.cr_ord_inp_n_5 {
    width: 51px!important;
}
.cr_ord_inp_n_6 {
    width: 100%;
}
.cr_ord_inp_n_st{
    width: 40%;
}
.cr_ord_inp_n_7 {
    width: 269px!important;
}
.cr_ord_inp_n_8 {
    width: 56px;
}
.cr_ord_inp_n_9 {
    width: 58px;
}
.cr_ord_inp_n_10 {
    width: 92px;
}
.cr_ord_inp_n_11 {
    min-width: 131px;
    /*width: 100%;*/
}
.cr_ord_inp_n_12 {
    width: 261px;
}
.cr_ord_inp_n_13 {
    width: 131px!important;
}
.sel_cust {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #202020;
}
.cr_ord_left_col {
    max-width: 296px;
    padding-right: 0px!important;
}
.cr_ord_mid_col {
    max-width: 302px;
}
.cr_ord_right_col {
    max-width: 306px;
    padding-right: 0px;
    padding-left: 24px;
}
.data_pog_dost {
    max-width: 124px;
    padding-left: 0px;
}
.data_dost_right {
    margin-left: 38px;
}
.right_menu_nom {
    margin-left: 0px!important;
}
.data_pog_dost_height {
    max-height: 32px;
}
.nom_margin {
    margin-left: 10px;
    background-color: #DC0000!important;
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}
.cr_ord_obj {
    margin-left: 28px;
}
.arrang_set {
    margin-left: 16px;
}
.big_comment {
    /*margin-left: 290px;*/
    /*margin-top: -20px;*/
}
.create_order_right_main_text.text_in_header{
    margin-top: 10px;
}
.single_right_text_1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #202020;
    line-height: 130%;
    margin-top: 10px;
}
.right_top_text_0 {
    min-width: 70px;
}
.right_top_text_1 {
    padding-left: 14px;
    /*margin-left: 30px;*/
}
.right_top_text_2 {
    margin-left: 10px;
}
.set_left_pad {
    padding-left: 6px;
}
.right_top_text_1_0 {
    max-width: 30px;
    padding-left: 7px;
}
.right_top_text_1_1 {
    margin-left: -8px;
}
.right_top_text_1_2 {
    margin-left: 8px;
}
.second_right_create_orders_text {
    margin-top: 16px;
}
.spisok_ts_second_title_left {
    max-width: 272px!important;
}
.spisok_ts_second_title_center {
    max-width: 292px;
    padding-left:20px;
    margin-right: 10px;
}
.cr_ord_lit_left {
    min-width: 100px;
}
.cr_ord_lit_center {
    padding-left: 0px;
    max-width:66px;
}
.cr_ord_lit_right {
    padding-left: 0px;
}
.right_comments {
    margin-top: 40px;
}
.cr_ord_lit_right2 {
    margin-left: -47px;
}
.save_buttons {
    margin-top: 24px;
    margin-bottom: 20px;
}
.add_ts_class {
   background-color:#ece1be;
}
.right_white_block {
    background-color:#FFFFFF ;
    border: 1px solid #CED8DF;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
}
.border_input {
    background: #FFFFFF;
    border: 1px solid #CED8DF;
    border-radius: 4px;
}
.add_summ_grade_inp {
    width: 150px;
    margin-right: 10px;
    margin-bottom: 6px;
}
.add_summ_grade_inp_1 {
    width: 150px;
}
.main_head_marg {
    margin-bottom: 20px!important;
}
.second_header_cr_order {
    margin-bottom:40px;
}
.vid_TS {
    padding-left: 30px;
}
.vid_TS_text {
    min-width: 150px;
}
.pagination_orders_right {
    margin-top: 24px;
}
.pagination_stavki {
    margin-top: 24px!important;
}
.page_link_int:hover {
    cursor: pointer;
}
.pagination_int {
    margin-right: 20px;
}
.prev_pag_button {
    margin-left: 20px;
    margin-top: -5px;
}
.next_pag_button {
    margin-top: -5px;
}
.blue_ref {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0064F6;
    line-height: 130%;
    margin-top: 10px;
}
.blue_ref:hover {
    cursor: pointer;
}
.important_back {
    background-color: #4D93F9;
}
.comm_settings {
    width: 100%;
}
.comm_settings_1 {
    width: 93%;
}
.ob_ves {
    padding-right: 40px;
}
.ob_ob_width {
    min-width: 100px;
}
.terminal_ts {
    margin-bottom: 10px;
}
.select_width {
    width:100%;
}
.select_width_grade {
    width: 258px;
}
.text_out_block{
    word-wrap: break-word;
}
.ts_counter {
    margin-top: 10px!important;
}
.box{

    background-color:grey;
    margin:5px;
}
.fit_height {
    height: fit-content;
}
.middle_block_cr_order {
    padding-left: 0px!important;
}
@media (max-width: 1350px) {
    .middle_block_cr_order {
        margin-left: 20px !important;
    }
}
.top_menu_1 {
    white-space: nowrap;
    /*min-width: 194px;*/
}
.no_wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.top_menu_2 {
    min-width: 240px;
}
.text_line {
    white-space: nowrap;
}
.coloring_row_1 {
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
}
.coloring_row_1:hover {
    cursor: pointer;
}
.trio_but {
    margin-top: 26px;
}
.grade_left_column {
    background: #FFFFFF;
}
.grade_left_column_text_first {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #636F6F;
}
.grade_left_column_text_main {
    margin-top: 13px;
    margin-bottom: 13px;
}
.grade_left_column_text_sec {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #202020;
}
.grade_left_column_text_sec_1 {
    margin-top: -2px;
}
.grade_red_text {
    color:rgba(239, 51, 51, 1);
    margin-left: 10px;
}
.grade_arrow_margin {
    margin-left: 23px;
    padding-right: 0px!important;
}
.div_inl {
    display: inline;
}
.hr_line {
    color: #636F6F;
    /*margin-top: 16px;*/
    /*margin-left: 34px;*/
}
.arrow_gray_grade {
    margin-top: -16px;
}
.half_circle {
    border-radius: 100% 0 0 100%;
    border-left: 1px solid #C3C3C3;
    width: 50px;
    height: 50px;
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.hr_first_line {
    height: 10px;
}
.truck_grade  {
    border-radius: 50%;
    background-color: #C4C4C4;
    width: 20px;
    height: 20px;
}
.grade_header_col {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #636F6F;
    font-weight: 500;
}
.grade_header_col_1 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:#202020 ;
    font-weight: 400;
}
.grade_right_col_head{
    margin-bottom: 20px;
}
.back_grade_right{
    background: #FFFFFF;
    padding-left: 30px;
    margin-top: 20px;
}
.grade_right_col_text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.grade_bold_dark {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color:#202020 ;
    font-weight: 500;
}
.grade_bold_dark_1 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:#202020 ;
    font-weight: 700;
}
.not_paid_marg {
    margin-top: 20px;
}
.TH_grade {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#4B4B4B ;
    margin-right: 10px;
}
.down_grade_text {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 700;
    color:#202020 ;
}
.down_streak_grade {
    background-color:#FFFFFF;
    border: 1px solid #DBDBDB;
    position: fixed;
    bottom: 0;

}
.main_grade_div {
    margin-bottom: 70px;
}
.mod_1 {
    width: 1200px;
}
.mod_new_cargo {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color:#202020 ;

}
.header_grade_mod_bot {
    margin-bottom: 18px;
}
.mod_borders_top {
    margin-top: 10px!important;
}
.inn_width {
    min-width: 150px;
}
.inn_mar_r {
    margin-right: 20px;
}
.mod_borders_bottom {
    margin-bottom: 32px!important;
}
@media (min-width: 992px)
{
    .modal-lg {
        max-width: 100% !important;
    }
}
    @media (min-width: 576px)
    {
        .modal-dialog {
            max-width: 100% !important;

        }
    }
.cena_kont_marg {
    margin-right: 24px;
}
.ad_pogr_marg {
    margin-top: 16px!important;
}
.ad_pogr_marg1 {
    margin-top: 18px!important;
}
.ad_vygr_right_ord {
    margin-top: 21px;
    min-width: 195px;
}
.spisok_ts_grade_left {
    padding-top: 10px;
    padding-bottom: 10px;
}
.show_arrow {
    background-color: #0dcaf0;
}
.show_arrow_flag:hover + .show_arrow {
    background-color: #0f5132;
}

.hide {
    display: none;
}
.myDIV:hover .hide {
    /*display: block;*/
    display: flex;
    color: red;
}
.mx-input-wrapper {
    display: none;
}
.grade_head_row {
    padding-top: 10px;
    padding-bottom: 10px;
}
.pogr_marg_grade {
    margin-top: 10px;
}
.gear_settings {
    cursor:pointer
}
.doc_set_marg {
    margin-top: 10px;
    margin-bottom: 10px;
}
.doc_set_button {
    margin-top: 10px!important;
}
.doc_header {
    margin-top: 20px!important;
    margin-bottom: 10px;
}
.nav_menu_pointer {
    cursor: pointer;
}
.mail_header{
    text-align: center;
    margin-bottom: 10px;
}
.cr_ord_div_nomenklatura {
    margin-bottom: 6px;
}
.btn_del_in_ord {
    margin-top: 10px;
    width: 36px!important;
}
.btn_del_in_grade {
    width: 36px!important;
    margin-left: 20px;
}
.grade_columns {
    margin-top: 10px;
    margin-bottom: 10px;
}
.bottom_marg {
    margin-bottom: 40px;
}
.btn_del_in_ord1 {
    width: 36px!important;
    height: 36px!important;
    margin-top: 20px !important;
    margin-bottom: 30px!important;
}

.navigation_setting {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1;
}
.navigation_setting ul,
.navigation_setting ul li,
.navigation_setting ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation_setting ul {
    position: relative;
    z-index: 500;
    float: left;
}
.navigation_setting ul li {
    float: left;
    min-height: 0.05em;
    line-height: 1em;
    vertical-align: middle;
    position: relative;
}
.navigation_setting ul li.hover,
.navigation_setting ul li:hover {
    position: relative;
    z-index: 510;
    cursor: default;
}
.navigation_setting ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 520;
    width: 100%;
}
.navigation_setting ul ul li { float: none; }
.navigation_setting ul ul ul {
    top: 0;
    right: 0;
}
.navigation ul li:hover > ul { visibility: visible; }
.navigation ul ul {
    top: 0;
    left: 99%;
}
.navigation_setting ul li { float: none; }
.navigation_setting ul ul { margin-top: 0.05em; }
.navigation_setting {
    width: 13em;
    background: #333333;
    font-family: 'roboto', Tahoma, Arial, sans-serif;
    zoom: 1;
}
.navigation_setting:before {
    content: '';
    display: block;
}
.navigation_setting:after {
    content: '';
    display: table;
    clear: both;
}
.navigation_setting a {
    display: block;
    padding: 1em 1.3em;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
.navigation_setting > ul { width: 13em; }
.navigation_setting ul ul { width: 13em; }
.navigation_setting > ul > li > a {
    border-right: 0.3em solid #34A65F;
    color: #ffffff;
}
.navigation_setting > ul > li > a:hover { color: #ffffff; }
.navigation_setting > ul > li a:hover,
.navigation_setting > ul > li:hover a { background: #34A65F; }
.navigation_setting li { position: relative; }
.navigation_setting ul li.has-sub > a:after {
    content: '»';
    position: absolute;
    right: 1em;
}
.navigation_setting ul ul li.first {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}
.navigation_setting ul ul li.last {
    -webkit-border-radius: 0 0 3px 0;
    -moz-border-radius: 0 0 3px 0;
    border-radius: 0 0 3px 0;
    border-bottom: 0;
}
.navigation_setting ul ul {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.navigation_setting ul ul { border: 1px solid #34A65F; }
.navigation_setting ul ul a { color: #ffffff; }
.navigation_setting ul ul a:hover { color: #ffffff; }
.navigation_setting ul ul li { border-bottom: 1px solid #0F8A5F; }
.navigation_setting ul ul li:hover > a {
    background: #4eb1ff;
    color: #ffffff;
}
.navigation_setting.align-right > ul > li > a {
    border-left: 0.3em solid #34A65F;
    border-right: none;
}
.navigation_setting.align-right { float: right; }
.navigation_setting.align-right li { text-align: right; }
.navigation_setting.align-right ul li.has-sub > a:before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -6px;
}
.navigation_setting.align-right ul li.has-sub > a:after { content: none; }
.navigation_setting.align-right ul ul {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 598;
    width: 100%;
}
.navigation_setting.align-right ul ul li.first {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
}
.navigation_setting.align-right ul ul li.last {
    -webkit-border-radius: 0 0 0 3px;
    -moz-border-radius: 0 0 0 3px;
    border-radius: 0 0 0 3px;
}
.navigation_setting.align-right ul ul {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

@media all and (min-width: 992px) {
    .dropdown-menu li{ position: relative; 	}
    .nav-item .submenu{
        display: none;
        position: absolute;
        left:100%; top:-7px;
    }
    .nav-item .submenu-left{
        right:100%; left:auto;
    }
    .dropdown-menu > li:hover{ background-color: #f1f1f1 }
    .dropdown-menu > li:hover > .submenu{ display: block; }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu{
        margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
    }
}

.modal_underline_right{
    border-bottom: 1px solid #CED8DF;
    margin-top:24px!important;
    margin-bottom: 17px;
}


.add_settings_doc_button {
    margin-top: 10px;
}
.add_new_user_button {
    margin-top: 10px;
}
.login_settings {
    margin-top: 50px!important;
}
.input_width_max_settings {
    max-width: 130px!important;
}
.vue-tel-input {
    min-width:200px!important;
}
.oplata_del{
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}



 /*.container {*/
 /*    position: relative;*/
 /*    width: 200px;*/
 /*}*/


.gruz_auto_select .input-container {
     position: relative;
 }

.gruz_auto_select input {
     /*width: 100%;*/
     width: 100px;
     padding: 2px;
     border: 1px solid #ccc;
     border-radius: 4px;
 }

.gruz_auto_select .dropdown {
     position: absolute;
     top: 100%;
     left: 0;
     right: 0;
     background-color: #fff;
     border: 1px solid #ccc;
     border-top: 0;
     border-radius: 0 0 4px 4px;
     overflow: hidden;
     z-index: 20;
 }
.gruz_auto_select .dropdown_TS {
    border-top: 1px solid #ccc!important;
}

.gruz_auto_select ul {
     list-style: none;
     margin: 0;
     padding: 0;
 }

.gruz_auto_select li {
     padding: 10px;
     cursor: pointer;
 }

.gruz_auto_select li:hover {
     background-color: #f2f2f2;
 }

.gruz_auto_select .select_list_gruzoot {
    max-height: 200px;
    overflow: auto;
}

/*начало поиска с авторами*/
.gruz_auto_select_avtor .input-container {
    position: relative;
}

.gruz_auto_select_avtor input {
    /*width: 100%;*/
    width: 100px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.gruz_auto_select_avtor .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    z-index: 20;
}
.gruz_auto_select_avtor .dropdown_TS {
    border-top: 1px solid #ccc!important;
}

.gruz_auto_select_avtor ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.gruz_auto_select_avtor li .nazvanie_gruz{
    cursor: pointer;
}
.gruz_auto_select_avtor li .nazvanie_gruz:hover {
    background-color: #f2f2f2;
}
.gruz_auto_select_avtor .select_list_gruzoot {
    max-height: 200px;
    overflow: auto;
}
.nazvanie_gruz {
    padding-top:10px;
    padding-bottom:10px;
    padding-left:6px;
    align-items: center;
}
.avtor_gruz {
    padding-top:10px;
    padding-bottom:10px;
    padding-left:6px;
    align-items: center;
    background-color: #8f8996;
}
/*конец поиска с авторами*/


.create_orders_status {
    text-align: right;
}
.textar_settings{
    width: 85%;
}
.auto_input_height {
    width:100%!important;
}

/*модальное окно перевозчика*/
.perevoz_height {
    height: 50px;
}
.perevoz_m_bottom {
    margin-bottom: 38px;
}
@media (min-width: 1500px) {
    .perevoz_m_bottom {
        margin-bottom: 20px;
    }
}
/* конец модальное окно перевозчика*/
/*модальное окно водителя*/
.vod_fio {
    min-width: 271px;
}
.vod_telefon {
    min-width:139px
}
.vod_mar {
    margin-bottom: 20px;
}
.voditeli_list_FIO:hover {
    cursor: pointer;
    text-decoration: underline;
}
.cust_pointer:hover {
    cursor: pointer;
    text-decoration: underline;
}
.TS_mod_tip{
    width: 90%!important;
}
.TS_mod_marka{
    /*width: 271px!important;*/
    width: 95%!important;}
.TS_mod_nomer{
    /*width: 139px!important;*/
    width: 90%!important;}
.TS_mod_tonn{
    /*width: 117px!important;*/
    width: 90%!important;}
.TS_mod_nomer_doc{
    /*width: 165px!important;*/
    width: 95%!important;}
.TS_mod_kompaniya{
    /*width: 271px!important;*/
    width: 100%!important;}
.PP_mod_nomer{
    /*width: 140px!important;*/
    width: 80%!important;}
.imgLoading{
    margin-top: 40px;
    margin-left: 44%;
    margin-bottom: 40px;
}
.cross_stavki {
    margin-top:20px!important;
}
.cross_stavki_hov {
    margin-left: 10px;
}
.cross_stavki_hov:hover {
    cursor: pointer;
    color: #4D93F9;
}
.cross_stavki:hover {
    cursor: pointer;
    color: #4D93F9;
}
.cross_stavki_perevozka {
    margin-left: 10px;
}
.cross_stavki_perevozka:hover{
    cursor: pointer;
    color: #4D93F9;
}
.div-container {
    display: flex;
}
@media (min-width: 1864px)
{
    .headerTimeDiv {
        margin-top: 21px;
    }
}
.phoneInputV {
    width:156px;
}
.selPhone {
    width:50px;
}
.phoneTD {
    min-width: 240px
}
.phone_row {
    width:235px!important;
}
.linkStyle {
    color: #007bff; /* Цвет текста, похожий на цвет ссылки */
    text-decoration: underline; /* Подчеркивание, чтобы текст выглядел как ссылка */
    cursor: pointer; /* Курсор в виде руки, чтобы подчеркнуть интерактивность */
}
.nomenklaturaFull:hover {
    cursor: pointer;
}
.btn_add_per {
    width: 40px!important;
    height: 40px!important;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.komment_block {
    margin-top: 20px;
}

.my-custom-popover {
    max-width: none;
    width: fit-content!important;
}
.wide-popover { max-width: 400px; }
.popover {
    max-width: 800px!important;
}
.per_status {
    margin-top: 10px!important;
}
