@font-face {
  font-family: 'iconsax';
  src: url('../fonts/iconsax.eot?21621686');
  src: url('../fonts/iconsax.eot?21621686#iefix') format('embedded-opentype'),
  url('../fonts/iconsax.woff2?21621686') format('woff2'),
  url('../fonts/iconsax.woff?21621686') format('woff'),
  url('../fonts/iconsax.ttf?21621686') format('truetype'),
  url('../fonts/iconsax.svg?21621686#iconsax') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iconsax';
    src: url('../font/iconsax.svg?21621686#iconsax') format('svg');
  }
}
*/
[class^="iconsax-"]:before, [class*=" iconsax-"]:before {
  font-family: "iconsax";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  /* width: 1em;
  margin-right: .2em; */
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* margin-left: .2em; */

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.iconsax-3d-cube:before { content: '\e800'; } /* '' */
.iconsax-24hr-service:before { content: '\e801'; } /* '' */
.iconsax-activity-chart:before { content: '\e802'; } /* '' */
.iconsax-activity-chart-favorite:before { content: '\e803'; } /* '' */
.iconsax-activity-square:before { content: '\e804'; } /* '' */
.iconsax-add:before { content: '\e805'; } /* '' */
.iconsax-add-circle:before { content: '\e806'; } /* '' */
.iconsax-add-layer:before { content: '\e807'; } /* '' */
.iconsax-add-square:before { content: '\e808'; } /* '' */
.iconsax-add-subtract:before { content: '\e809'; } /* '' */
.iconsax-airdrop:before { content: '\e80a'; } /* '' */
.iconsax-airplane:before { content: '\e80b'; } /* '' */
.iconsax-airplane-square:before { content: '\e80c'; } /* '' */
.iconsax-airpod:before { content: '\e80d'; } /* '' */
.iconsax-airpods:before { content: '\e80e'; } /* '' */
.iconsax-alarm:before { content: '\e80f'; } /* '' */
.iconsax-align-bottom:before { content: '\e810'; } /* '' */
.iconsax-align-left:before { content: '\e811'; } /* '' */
.iconsax-align-right:before { content: '\e812'; } /* '' */
.iconsax-align-top:before { content: '\e813'; } /* '' */
.iconsax-align-x-center:before { content: '\e814'; } /* '' */
.iconsax-align-y-center:before { content: '\e815'; } /* '' */
.iconsax-android:before { content: '\e816'; } /* '' */
.iconsax-apple:before { content: '\e817'; } /* '' */
.iconsax-archive-closed:before { content: '\e818'; } /* '' */
.iconsax-archive-open:before { content: '\e819'; } /* '' */
.iconsax-arrange-horizontal-circle:before { content: '\e81a'; } /* '' */
.iconsax-arrange-horizontal-square:before { content: '\e81b'; } /* '' */
.iconsax-arrange-vertical-circle:before { content: '\e81c'; } /* '' */
.iconsax-arrange-vertical-square:before { content: '\e81d'; } /* '' */
.iconsax-arrow-circle-down:before { content: '\e81e'; } /* '' */
.iconsax-arrow-circle-left:before { content: '\e81f'; } /* '' */
.iconsax-arrow-circle-right:before { content: '\e820'; } /* '' */
.iconsax-arrow-circle-up:before { content: '\e821'; } /* '' */
.iconsax-arrow-down:before { content: '\e822'; } /* '' */
.iconsax-arrow-left:before { content: '\e823'; } /* '' */
.iconsax-arrow-right:before { content: '\e824'; } /* '' */
.iconsax-arrow-up:before { content: '\e825'; } /* '' */
.iconsax-arrow-up-down:before { content: '\e826'; } /* '' */
.iconsax-attach-circle:before { content: '\e827'; } /* '' */
.iconsax-attach-square:before { content: '\e828'; } /* '' */
.iconsax-auto-brightness:before { content: '\e829'; } /* '' */
.iconsax-award-1:before { content: '\e82a'; } /* '' */
.iconsax-award-2:before { content: '\e82b'; } /* '' */
.iconsax-award-3:before { content: '\e82c'; } /* '' */
.iconsax-background-layer:before { content: '\e82d'; } /* '' */
.iconsax-backspace:before { content: '\e82e'; } /* '' */
.iconsax-bank:before { content: '\e82f'; } /* '' */
.iconsax-bank-card:before { content: '\e830'; } /* '' */
.iconsax-bank-card-add:before { content: '\e831'; } /* '' */
.iconsax-bank-card-convert:before { content: '\e832'; } /* '' */
.iconsax-bank-card-diagonal:before { content: '\e833'; } /* '' */
.iconsax-bank-card-edit:before { content: '\e834'; } /* '' */
.iconsax-bank-card-receive:before { content: '\e835'; } /* '' */
.iconsax-bank-card-remove-1:before { content: '\e836'; } /* '' */
.iconsax-bank-card-remove-2:before { content: '\e837'; } /* '' */
.iconsax-bank-cards:before { content: '\e838'; } /* '' */
.iconsax-bank-card-security:before { content: '\e839'; } /* '' */
.iconsax-bank-card-send:before { content: '\e83a'; } /* '' */
.iconsax-bank-card-slash:before { content: '\e83b'; } /* '' */
.iconsax-bank-card-tick-1:before { content: '\e83c'; } /* '' */
.iconsax-barcode-square:before { content: '\e83d'; } /* '' */
.iconsax-bank-card-tick-2:before { content: '\e83e'; } /* '' */
.iconsax-bar-graph-1:before { content: '\e83f'; } /* '' */
.iconsax-bar-graph-2:before { content: '\e840'; } /* '' */
.iconsax-bar-graph-3:before { content: '\e841'; } /* '' */
.iconsax-bar-graph-4:before { content: '\e842'; } /* '' */
.iconsax-bar-graph-5:before { content: '\e843'; } /* '' */
.iconsax-basket-1:before { content: '\e844'; } /* '' */
.iconsax-basket-2:before { content: '\e845'; } /* '' */
.iconsax-basket-3:before { content: '\e846'; } /* '' */
.iconsax-basket-happy:before { content: '\e847'; } /* '' */
.iconsax-basket-limited:before { content: '\e848'; } /* '' */
.iconsax-basket-remove-1:before { content: '\e849'; } /* '' */
.iconsax-basket-remove-2:before { content: '\e84a'; } /* '' */
.iconsax-basket-tick:before { content: '\e84b'; } /* '' */
.iconsax-basket-tick-circle:before { content: '\e84c'; } /* '' */
.iconsax-battery-1:before { content: '\e84d'; } /* '' */
.iconsax-battery-2:before { content: '\e84e'; } /* '' */
.iconsax-battery-3:before { content: '\e84f'; } /* '' */
.iconsax-battery-charging:before { content: '\e850'; } /* '' */
.iconsax-battery-disable:before { content: '\e851'; } /* '' */
.iconsax-battery-empty:before { content: '\e852'; } /* '' */
.iconsax-behance:before { content: '\e853'; } /* '' */
.iconsax-bell-1:before { content: '\e854'; } /* '' */
.iconsax-bell-2:before { content: '\e855'; } /* '' */
.iconsax-bezier:before { content: '\e856'; } /* '' */
.iconsax-bill:before { content: '\e857'; } /* '' */
.iconsax-birdhouse:before { content: '\e858'; } /* '' */
.iconsax-blend-1:before { content: '\e859'; } /* '' */
.iconsax-blend-2:before { content: '\e85a'; } /* '' */
.iconsax-blogger:before { content: '\e85b'; } /* '' */
.iconsax-bluetooth:before { content: '\e85c'; } /* '' */
.iconsax-bluetooth-2:before { content: '\e85d'; } /* '' */
.iconsax-bluetooth-circle:before { content: '\e85e'; } /* '' */
.iconsax-bluetooth-rectangle:before { content: '\e85f'; } /* '' */
.iconsax-blur:before { content: '\e860'; } /* '' */
.iconsax-bold:before { content: '\e861'; } /* '' */
.iconsax-book-closed:before { content: '\e862'; } /* '' */
.iconsax-bookmark:before { content: '\e863'; } /* '' */
.iconsax-bookmark-add:before { content: '\e864'; } /* '' */
.iconsax-bookmark-minus:before { content: '\e865'; } /* '' */
.iconsax-bookmark-page:before { content: '\e866'; } /* '' */
.iconsax-bookmarks:before { content: '\e867'; } /* '' */
.iconsax-bookmarks-add:before { content: '\e868'; } /* '' */
.iconsax-bookmark-slash:before { content: '\e869'; } /* '' */
.iconsax-bookmarks-minus:before { content: '\e86a'; } /* '' */
.iconsax-bookmarks-remove:before { content: '\e86b'; } /* '' */
.iconsax-bookmark-tick:before { content: '\e86c'; } /* '' */
.iconsax-book-open:before { content: '\e86d'; } /* '' */
.iconsax-book-square:before { content: '\e86e'; } /* '' */
.iconsax-book-with-bookmark:before { content: '\e86f'; } /* '' */
.iconsax-bootstrap:before { content: '\e870'; } /* '' */
.iconsax-bounding-box:before { content: '\e871'; } /* '' */
.iconsax-bounding-circle:before { content: '\e872'; } /* '' */
.iconsax-box:before { content: '\e873'; } /* '' */
.iconsax-box-add:before { content: '\e874'; } /* '' */
.iconsax-box-dashed:before { content: '\e875'; } /* '' */
.iconsax-box-remove:before { content: '\e876'; } /* '' */
.iconsax-box-rotate:before { content: '\e877'; } /* '' */
.iconsax-box-scan:before { content: '\e878'; } /* '' */
.iconsax-box-search:before { content: '\e879'; } /* '' */
.iconsax-box-square:before { content: '\e87a'; } /* '' */
.iconsax-box-swap:before { content: '\e87b'; } /* '' */
.iconsax-box-tick:before { content: '\e87c'; } /* '' */
.iconsax-box-time:before { content: '\e87d'; } /* '' */
.iconsax-briefcase:before { content: '\e87e'; } /* '' */
.iconsax-briefcase-cross:before { content: '\e87f'; } /* '' */
.iconsax-briefcase-tick:before { content: '\e880'; } /* '' */
.iconsax-briefcase-timer:before { content: '\e881'; } /* '' */
.iconsax-broom:before { content: '\e882'; } /* '' */
.iconsax-brush-1:before { content: '\e883'; } /* '' */
.iconsax-brush-2:before { content: '\e884'; } /* '' */
.iconsax-brush-3:before { content: '\e885'; } /* '' */
.iconsax-brush-4:before { content: '\e886'; } /* '' */
.iconsax-brush-5:before { content: '\e887'; } /* '' */
.iconsax-brush-tools:before { content: '\e888'; } /* '' */
.iconsax-bubbles:before { content: '\e889'; } /* '' */
.iconsax-building-1:before { content: '\e88a'; } /* '' */
.iconsax-building-2:before { content: '\e88b'; } /* '' */
.iconsax-building-3:before { content: '\e88c'; } /* '' */
.iconsax-building-4:before { content: '\e88d'; } /* '' */
.iconsax-buildings-1:before { content: '\e88e'; } /* '' */
.iconsax-buildings-2:before { content: '\e88f'; } /* '' */
.iconsax-bulb:before { content: '\e890'; } /* '' */
.iconsax-bulb-charge:before { content: '\e891'; } /* '' */
.iconsax-bulb-slash:before { content: '\e892'; } /* '' */
.iconsax-bus:before { content: '\e893'; } /* '' */
.iconsax-cake:before { content: '\e894'; } /* '' */
.iconsax-calculator:before { content: '\e895'; } /* '' */
.iconsax-calendar-1:before { content: '\e896'; } /* '' */
.iconsax-calendar-2:before { content: '\e897'; } /* '' */
.iconsax-calendar-add:before { content: '\e898'; } /* '' */
.iconsax-calendar-circle:before { content: '\e899'; } /* '' */
.iconsax-calendar-day:before { content: '\e89a'; } /* '' */
.iconsax-calendar-edit:before { content: '\e89b'; } /* '' */
.iconsax-calendar-remove:before { content: '\e89c'; } /* '' */
.iconsax-calendar-search:before { content: '\e89d'; } /* '' */
.iconsax-calendar-tick:before { content: '\e89e'; } /* '' */
.iconsax-camera:before { content: '\e89f'; } /* '' */
.iconsax-camera-slash:before { content: '\e8a0'; } /* '' */
.iconsax-car:before { content: '\e8a1'; } /* '' */
.iconsax-cash:before { content: '\e8a2'; } /* '' */
.iconsax-cast:before { content: '\e8a3'; } /* '' */
.iconsax-cd:before { content: '\e8a4'; } /* '' */
.iconsax-change-shape-1:before { content: '\e8a5'; } /* '' */
.iconsax-change-shape-2:before { content: '\e8a6'; } /* '' */
.iconsax-chart-fail:before { content: '\e8a7'; } /* '' */
.iconsax-chart-square:before { content: '\e8a8'; } /* '' */
.iconsax-chart-success:before { content: '\e8a9'; } /* '' */
.iconsax-chevron-circle-down:before { content: '\e8aa'; } /* '' */
.iconsax-chevron-circle-left:before { content: '\e8ab'; } /* '' */
.iconsax-chevron-circle-right:before { content: '\e8ac'; } /* '' */
.iconsax-chevron-circle-up:before { content: '\e8ad'; } /* '' */
.iconsax-chevron-down:before { content: '\e8ae'; } /* '' */
.iconsax-chevron-left:before { content: '\e8af'; } /* '' */
.iconsax-chevron-right:before { content: '\e8b0'; } /* '' */
.iconsax-chevron-square-down:before { content: '\e8b1'; } /* '' */
.iconsax-chevron-square-left:before { content: '\e8b2'; } /* '' */
.iconsax-chevron-square-right:before { content: '\e8b3'; } /* '' */
.iconsax-chevron-square-up:before { content: '\e8b4'; } /* '' */
.iconsax-chevron-up:before { content: '\e8b5'; } /* '' */
.iconsax-chrome:before { content: '\e8b6'; } /* '' */
.iconsax-circle:before { content: '\e8b7'; } /* '' */
.iconsax-clipboard:before { content: '\e8b8'; } /* '' */
.iconsax-clipboard-close:before { content: '\e8b9'; } /* '' */
.iconsax-clipboard-in:before { content: '\e8ba'; } /* '' */
.iconsax-clipboard-out:before { content: '\e8bb'; } /* '' */
.iconsax-clipboard-text-1:before { content: '\e8bc'; } /* '' */
.iconsax-clipboard-text-2:before { content: '\e8bd'; } /* '' */
.iconsax-clipboard-tick:before { content: '\e8be'; } /* '' */
.iconsax-clock:before { content: '\e8bf'; } /* '' */
.iconsax-close-circle:before { content: '\e8c0'; } /* '' */
.iconsax-close-square:before { content: '\e8c1'; } /* '' */
.iconsax-cloud:before { content: '\e8c2'; } /* '' */
.iconsax-cloud-change:before { content: '\e8c3'; } /* '' */
.iconsax-cloud-connection:before { content: '\e8c4'; } /* '' */
.iconsax-cloud-cross:before { content: '\e8c5'; } /* '' */
.iconsax-cloud-fog:before { content: '\e8c6'; } /* '' */
.iconsax-cloud-lightning:before { content: '\e8c7'; } /* '' */
.iconsax-cloud-minus:before { content: '\e8c8'; } /* '' */
.iconsax-cloud-notif:before { content: '\e8c9'; } /* '' */
.iconsax-cloud-plus:before { content: '\e8ca'; } /* '' */
.iconsax-cloud-rain:before { content: '\e8cb'; } /* '' */
.iconsax-cloud-remove:before { content: '\e8cc'; } /* '' */
.iconsax-cloud-snow:before { content: '\e8cd'; } /* '' */
.iconsax-cloud-success:before { content: '\e8ce'; } /* '' */
.iconsax-cloud-sunny:before { content: '\e8cf'; } /* '' */
.iconsax-code-1:before { content: '\e8d0'; } /* '' */
.iconsax-code-2:before { content: '\e8d1'; } /* '' */
.iconsax-code-circle:before { content: '\e8d2'; } /* '' */
.iconsax-code-clipboard:before { content: '\e8d3'; } /* '' */
.iconsax-code-doc-1:before { content: '\e8d4'; } /* '' */
.iconsax-code-doc-2:before { content: '\e8d5'; } /* '' */
.iconsax-code-message:before { content: '\e8d6'; } /* '' */
.iconsax-coffee:before { content: '\e8d7'; } /* '' */
.iconsax-coins-1:before { content: '\e8d8'; } /* '' */
.iconsax-coins-2:before { content: '\e8d9'; } /* '' */
.iconsax-coins-3:before { content: '\e8da'; } /* '' */
.iconsax-coins-4:before { content: '\e8db'; } /* '' */
.iconsax-color-filter:before { content: '\e8dc'; } /* '' */
.iconsax-color-filter-square:before { content: '\e8dd'; } /* '' */
.iconsax-color-swatch:before { content: '\e8de'; } /* '' */
.iconsax-command:before { content: '\e8df'; } /* '' */
.iconsax-command-square:before { content: '\e8e0'; } /* '' */
.iconsax-compass:before { content: '\e8e1'; } /* '' */
.iconsax-component:before { content: '\e8e2'; } /* '' */
.iconsax-convert-circle:before { content: '\e8e3'; } /* '' */
.iconsax-copy:before { content: '\e8e4'; } /* '' */
.iconsax-copyright:before { content: '\e8e5'; } /* '' */
.iconsax-copy-success:before { content: '\e8e6'; } /* '' */
.iconsax-courthouse:before { content: '\e8e7'; } /* '' */
.iconsax-cpu:before { content: '\e8e8'; } /* '' */
.iconsax-cpu-charge:before { content: '\e8e9'; } /* '' */
.iconsax-cpu-setting:before { content: '\e8ea'; } /* '' */
.iconsax-creative-commons:before { content: '\e8eb'; } /* '' */
.iconsax-crop:before { content: '\e8ec'; } /* '' */
.iconsax-crown-1:before { content: '\e8ed'; } /* '' */
.iconsax-crown-2:before { content: '\e8ee'; } /* '' */
.iconsax-cue-cards:before { content: '\e8ef'; } /* '' */
.iconsax-danger:before { content: '\e8f0'; } /* '' */
.iconsax-devices:before { content: '\e8f1'; } /* '' */
.iconsax-diamond:before { content: '\e8f2'; } /* '' */
.iconsax-diamonds:before { content: '\e8f3'; } /* '' */
.iconsax-direction-down:before { content: '\e8f4'; } /* '' */
.iconsax-direction-left:before { content: '\e8f5'; } /* '' */
.iconsax-direction-left-right:before { content: '\e8f6'; } /* '' */
.iconsax-direction-left-right-square:before { content: '\e8f7'; } /* '' */
.iconsax-direction-right:before { content: '\e8f8'; } /* '' */
.iconsax-direction-square:before { content: '\e8f9'; } /* '' */
.iconsax-direction-up:before { content: '\e8fa'; } /* '' */
.iconsax-discount-badge:before { content: '\e8fb'; } /* '' */
.iconsax-discount-circle:before { content: '\e8fc'; } /* '' */
.iconsax-discover:before { content: '\e8fd'; } /* '' */
.iconsax-dislike:before { content: '\e8fe'; } /* '' */
.iconsax-document:before { content: '\e8ff'; } /* '' */
.iconsax-document-cloud:before { content: '\e900'; } /* '' */
.iconsax-document-copy:before { content: '\e901'; } /* '' */
.iconsax-document-download:before { content: '\e902'; } /* '' */
.iconsax-document-favorite-1:before { content: '\e903'; } /* '' */
.iconsax-document-favorite-2:before { content: '\e904'; } /* '' */
.iconsax-document-filter:before { content: '\e905'; } /* '' */
.iconsax-document-forward:before { content: '\e906'; } /* '' */
.iconsax-document-previous:before { content: '\e907'; } /* '' */
.iconsax-document-sketch:before { content: '\e908'; } /* '' */
.iconsax-document-text-1:before { content: '\e909'; } /* '' */
.iconsax-document-text-2:before { content: '\e90a'; } /* '' */
.iconsax-document-upload:before { content: '\e90b'; } /* '' */
.iconsax-dollar-circle:before { content: '\e90c'; } /* '' */
.iconsax-dollar-square:before { content: '\e90d'; } /* '' */
.iconsax-dribbble:before { content: '\e90e'; } /* '' */
.iconsax-driver-1:before { content: '\e90f'; } /* '' */
.iconsax-driver-2:before { content: '\e910'; } /* '' */
.iconsax-driver-refresh:before { content: '\e911'; } /* '' */
.iconsax-driving:before { content: '\e912'; } /* '' */
.iconsax-drop:before { content: '\e913'; } /* '' */
.iconsax-dropbox:before { content: '\e914'; } /* '' */
.iconsax-earphones:before { content: '\e915'; } /* '' */
.iconsax-edit-1:before { content: '\e916'; } /* '' */
.iconsax-edit-2:before { content: '\e917'; } /* '' */
.iconsax-emoji-happy:before { content: '\e918'; } /* '' */
.iconsax-emoji-normal:before { content: '\e919'; } /* '' */
.iconsax-emoji-sad:before { content: '\e91a'; } /* '' */
.iconsax-eraser:before { content: '\e91b'; } /* '' */
.iconsax-eraser-square:before { content: '\e91c'; } /* '' */
.iconsax-exchange:before { content: '\e91d'; } /* '' */
.iconsax-export-1:before { content: '\e91e'; } /* '' */
.iconsax-export-2:before { content: '\e91f'; } /* '' */
.iconsax-export-square:before { content: '\e920'; } /* '' */
.iconsax-external-circle:before { content: '\e921'; } /* '' */
.iconsax-external-drive:before { content: '\e922'; } /* '' */
.iconsax-external-square:before { content: '\e923'; } /* '' */
.iconsax-eye:before { content: '\e924'; } /* '' */
.iconsax-eye-slash:before { content: '\e925'; } /* '' */
.iconsax-facebook:before { content: '\e926'; } /* '' */
.iconsax-fat-columns:before { content: '\e927'; } /* '' */
.iconsax-fat-rows:before { content: '\e928'; } /* '' */
.iconsax-female:before { content: '\e929'; } /* '' */
.iconsax-figma-circle:before { content: '\e92a'; } /* '' */
.iconsax-figma:before { content: '\e92b'; } /* '' */
.iconsax-filter:before { content: '\e92c'; } /* '' */
.iconsax-filter-add:before { content: '\e92d'; } /* '' */
.iconsax-filter-edit:before { content: '\e92e'; } /* '' */
.iconsax-filter-remove:before { content: '\e92f'; } /* '' */
.iconsax-filter-search:before { content: '\e930'; } /* '' */
.iconsax-filter-square:before { content: '\e931'; } /* '' */
.iconsax-filter-tick:before { content: '\e932'; } /* '' */
.iconsax-fingerprint-circle:before { content: '\e933'; } /* '' */
.iconsax-fingerprint-scan:before { content: '\e934'; } /* '' */
.iconsax-first-character:before { content: '\e935'; } /* '' */
.iconsax-flag-1:before { content: '\e936'; } /* '' */
.iconsax-flag-2:before { content: '\e937'; } /* '' */
.iconsax-flash:before { content: '\e938'; } /* '' */
.iconsax-flash-circle:before { content: '\e939'; } /* '' */
.iconsax-flash-slash:before { content: '\e93a'; } /* '' */
.iconsax-flask:before { content: '\e93b'; } /* '' */
.iconsax-flow-chart-1:before { content: '\e93c'; } /* '' */
.iconsax-flow-chart-2:before { content: '\e93d'; } /* '' */
.iconsax-folder-1:before { content: '\e93e'; } /* '' */
.iconsax-folder-2:before { content: '\e93f'; } /* '' */
.iconsax-folder-add:before { content: '\e940'; } /* '' */
.iconsax-folder-cloud:before { content: '\e941'; } /* '' */
.iconsax-folder-connection:before { content: '\e942'; } /* '' */
.iconsax-folder-favorite:before { content: '\e943'; } /* '' */
.iconsax-folder-minus:before { content: '\e944'; } /* '' */
.iconsax-folder-open:before { content: '\e945'; } /* '' */
.iconsax-folder-remove:before { content: '\e946'; } /* '' */
.iconsax-footer:before { content: '\e947'; } /* '' */
.iconsax-foreground-layer:before { content: '\e948'; } /* '' */
.iconsax-frame:before { content: '\e949'; } /* '' */
.iconsax-framer:before { content: '\e94a'; } /* '' */
.iconsax-gameboy:before { content: '\e94b'; } /* '' */
.iconsax-game-controller:before { content: '\e94c'; } /* '' */
.iconsax-gas-station:before { content: '\e94d'; } /* '' */
.iconsax-ghost:before { content: '\e94e'; } /* '' */
.iconsax-gift:before { content: '\e94f'; } /* '' */
.iconsax-git-arrows:before { content: '\e950'; } /* '' */
.iconsax-git-commit:before { content: '\e951'; } /* '' */
.iconsax-git-pull-request:before { content: '\e952'; } /* '' */
.iconsax-glasses:before { content: '\e953'; } /* '' */
.iconsax-globe:before { content: '\e954'; } /* '' */
.iconsax-globe-edit:before { content: '\e955'; } /* '' */
.iconsax-globe-refresh:before { content: '\e956'; } /* '' */
.iconsax-globe-search:before { content: '\e957'; } /* '' */
.iconsax-google-drive:before { content: '\e958'; } /* '' */
.iconsax-google-play:before { content: '\e959'; } /* '' */
.iconsax-google:before { content: '\e95a'; } /* '' */
.iconsax-gps:before { content: '\e95b'; } /* '' */
.iconsax-gps-slash:before { content: '\e95c'; } /* '' */
.iconsax-grammerly:before { content: '\e95d'; } /* '' */
.iconsax-grid-apps:before { content: '\e95e'; } /* '' */
.iconsax-grid-apps-equals:before { content: '\e95f'; } /* '' */
.iconsax-grid-apps-plus:before { content: '\e960'; } /* '' */
.iconsax-grid-quadrants:before { content: '\e961'; } /* '' */
.iconsax-grid-table:before { content: '\e962'; } /* '' */
.iconsax-grid-table-edit:before { content: '\e963'; } /* '' */
.iconsax-grid-table-eraser:before { content: '\e964'; } /* '' */
.iconsax-grid-table-lock:before { content: '\e965'; } /* '' */
.iconsax-grid-uneven:before { content: '\e966'; } /* '' */
.iconsax-group:before { content: '\e967'; } /* '' */
.iconsax-hashtag:before { content: '\e968'; } /* '' */
.iconsax-hashtag-down:before { content: '\e969'; } /* '' */
.iconsax-hashtag-up:before { content: '\e96a'; } /* '' */
.iconsax-header:before { content: '\e96b'; } /* '' */
.iconsax-headphones:before { content: '\e96c'; } /* '' */
.iconsax-heart:before { content: '\e96d'; } /* '' */
.iconsax-heart-add:before { content: '\e96e'; } /* '' */
.iconsax-heart-circle:before { content: '\e96f'; } /* '' */
.iconsax-heart-edit:before { content: '\e970'; } /* '' */
.iconsax-heart-message:before { content: '\e971'; } /* '' */
.iconsax-heart-rate-square:before { content: '\e972'; } /* '' */
.iconsax-heart-remove:before { content: '\e973'; } /* '' */
.iconsax-hearts:before { content: '\e974'; } /* '' */
.iconsax-heart-search:before { content: '\e975'; } /* '' */
.iconsax-heart-slash:before { content: '\e976'; } /* '' */
.iconsax-heart-tick:before { content: '\e977'; } /* '' */
.iconsax-hierarchy-1:before { content: '\e978'; } /* '' */
.iconsax-hierarchy-2:before { content: '\e979'; } /* '' */
.iconsax-hierarchy-3:before { content: '\e97a'; } /* '' */
.iconsax-hierarchy-square:before { content: '\e97b'; } /* '' */
.iconsax-hierarchy-square-2:before { content: '\e97c'; } /* '' */
.iconsax-hierarchy-square-3:before { content: '\e97d'; } /* '' */
.iconsax-history:before { content: '\e97e'; } /* '' */
.iconsax-home-1:before { content: '\e97f'; } /* '' */
.iconsax-home-2:before { content: '\e980'; } /* '' */
.iconsax-home-security:before { content: '\e981'; } /* '' */
.iconsax-home-trend-down:before { content: '\e982'; } /* '' */
.iconsax-home-trend-up:before { content: '\e983'; } /* '' */
.iconsax-home-wifi:before { content: '\e984'; } /* '' */
.iconsax-hospital:before { content: '\e985'; } /* '' */
.iconsax-hotspot:before { content: '\e986'; } /* '' */
.iconsax-hourglass:before { content: '\e987'; } /* '' */
.iconsax-house-1:before { content: '\e988'; } /* '' */
.iconsax-house-2:before { content: '\e989'; } /* '' */
.iconsax-html3:before { content: '\e98a'; } /* '' */
.iconsax-html5:before { content: '\e98b'; } /* '' */
.iconsax-illustrator:before { content: '\e98c'; } /* '' */
.iconsax-import-1:before { content: '\e98d'; } /* '' */
.iconsax-import-2:before { content: '\e98e'; } /* '' */
.iconsax-inbox-1:before { content: '\e98f'; } /* '' */
.iconsax-inbox-2:before { content: '\e990'; } /* '' */
.iconsax-inbox-3:before { content: '\e991'; } /* '' */
.iconsax-inbox-4:before { content: '\e992'; } /* '' */
.iconsax-inbox-in-1:before { content: '\e993'; } /* '' */
.iconsax-inbox-in-2:before { content: '\e994'; } /* '' */
.iconsax-inbox-notification:before { content: '\e995'; } /* '' */
.iconsax-inbox-out-1:before { content: '\e996'; } /* '' */
.iconsax-inbox-out-2:before { content: '\e997'; } /* '' */
.iconsax-infinite:before { content: '\e998'; } /* '' */
.iconsax-info-badge:before { content: '\e999'; } /* '' */
.iconsax-info-circle:before { content: '\e99a'; } /* '' */
.iconsax-instagram:before { content: '\e99b'; } /* '' */
.iconsax-italic:before { content: '\e99c'; } /* '' */
.iconsax-item-rotate-left:before { content: '\e99d'; } /* '' */
.iconsax-item-rotate-right:before { content: '\e99e'; } /* '' */
.iconsax-javascript-1:before { content: '\e99f'; } /* '' */
.iconsax-javascript-2:before { content: '\e9a0'; } /* '' */
.iconsax-judge:before { content: '\e9a1'; } /* '' */
.iconsax-key:before { content: '\e9a2'; } /* '' */
.iconsax-keyboard-1:before { content: '\e9a3'; } /* '' */
.iconsax-keyboard-2:before { content: '\e9a4'; } /* '' */
.iconsax-key-square:before { content: '\e9a5'; } /* '' */
.iconsax-lamp-1:before { content: '\e9a6'; } /* '' */
.iconsax-lamp-2:before { content: '\e9a7'; } /* '' */
.iconsax-language-circle:before { content: '\e9a8'; } /* '' */
.iconsax-language-square:before { content: '\e9a9'; } /* '' */
.iconsax-layers-1:before { content: '\e9aa'; } /* '' */
.iconsax-layers-2:before { content: '\e9ab'; } /* '' */
.iconsax-layout-1:before { content: '\e9ac'; } /* '' */
.iconsax-layout-2:before { content: '\e9ad'; } /* '' */
.iconsax-layout-3:before { content: '\e9ae'; } /* '' */
.iconsax-layout-4:before { content: '\e9af'; } /* '' */
.iconsax-layout-5:before { content: '\e9b0'; } /* '' */
.iconsax-layout-6:before { content: '\e9b1'; } /* '' */
.iconsax-layout-7:before { content: '\e9b2'; } /* '' */
.iconsax-layout-8:before { content: '\e9b3'; } /* '' */
.iconsax-layout-half:before { content: '\e9b4'; } /* '' */
.iconsax-letter-case:before { content: '\e9b5'; } /* '' */
.iconsax-level:before { content: '\e9b6'; } /* '' */
.iconsax-life-buoy:before { content: '\e9b7'; } /* '' */
.iconsax-like:before { content: '\e9b8'; } /* '' */
.iconsax-like-badge:before { content: '\e9b9'; } /* '' */
.iconsax-like-dislike:before { content: '\e9ba'; } /* '' */
.iconsax-like-tag:before { content: '\e9bb'; } /* '' */
.iconsax-line-spacing:before { content: '\e9bc'; } /* '' */
.iconsax-link-1:before { content: '\e9bd'; } /* '' */
.iconsax-link-2:before { content: '\e9be'; } /* '' */
.iconsax-link-3:before { content: '\e9bf'; } /* '' */
.iconsax-link-4:before { content: '\e9c0'; } /* '' */
.iconsax-link-circle:before { content: '\e9c1'; } /* '' */
.iconsax-link-square:before { content: '\e9c2'; } /* '' */
.iconsax-listening:before { content: '\e9c3'; } /* '' */
.iconsax-location:before { content: '\e9c4'; } /* '' */
.iconsax-location-add:before { content: '\e9c5'; } /* '' */
.iconsax-location-cross:before { content: '\e9c6'; } /* '' */
.iconsax-location-minus:before { content: '\e9c7'; } /* '' */
.iconsax-location-slash:before { content: '\e9c8'; } /* '' */
.iconsax-location-tick:before { content: '\e9c9'; } /* '' */
.iconsax-lock-1:before { content: '\e9ca'; } /* '' */
.iconsax-lock-2:before { content: '\e9cb'; } /* '' */
.iconsax-lock-circle:before { content: '\e9cc'; } /* '' */
.iconsax-lock-slash:before { content: '\e9cd'; } /* '' */
.iconsax-login-1:before { content: '\e9ce'; } /* '' */
.iconsax-login-2:before { content: '\e9cf'; } /* '' */
.iconsax-logout-1:before { content: '\e9d0'; } /* '' */
.iconsax-logout-2:before { content: '\e9d1'; } /* '' */
.iconsax-magic-wand:before { content: '\e9d2'; } /* '' */
.iconsax-mail:before { content: '\e9d3'; } /* '' */
.iconsax-mail-edit:before { content: '\e9d4'; } /* '' */
.iconsax-mail-notif:before { content: '\e9d5'; } /* '' */
.iconsax-mail-search:before { content: '\e9d6'; } /* '' */
.iconsax-mail-speed:before { content: '\e9d7'; } /* '' */
.iconsax-mail-star:before { content: '\e9d8'; } /* '' */
.iconsax-main-component:before { content: '\e9d9'; } /* '' */
.iconsax-male:before { content: '\e9da'; } /* '' */
.iconsax-map-1:before { content: '\e9db'; } /* '' */
.iconsax-map-2:before { content: '\e9dc'; } /* '' */
.iconsax-map-3:before { content: '\e9dd'; } /* '' */
.iconsax-mask-1:before { content: '\e9de'; } /* '' */
.iconsax-mask-2:before { content: '\e9df'; } /* '' */
.iconsax-mask-3:before { content: '\e9e0'; } /* '' */
.iconsax-math:before { content: '\e9e1'; } /* '' */
.iconsax-maximize-1:before { content: '\e9e2'; } /* '' */
.iconsax-maximize-2:before { content: '\e9e3'; } /* '' */
.iconsax-maximize-3:before { content: '\e9e4'; } /* '' */
.iconsax-maximize-3-square:before { content: '\e9e5'; } /* '' */
.iconsax-maximize-4-square:before { content: '\e9e6'; } /* '' */
.iconsax-maximize-circle:before { content: '\e9e7'; } /* '' */
.iconsax-measure:before { content: '\e9e8'; } /* '' */
.iconsax-media-backward:before { content: '\e9e9'; } /* '' */
.iconsax-media-backward-5s:before { content: '\e9ea'; } /* '' */
.iconsax-media-backward-10s:before { content: '\e9eb'; } /* '' */
.iconsax-media-backward-15s:before { content: '\e9ec'; } /* '' */
.iconsax-media-forward:before { content: '\e9ed'; } /* '' */
.iconsax-media-forward-5s:before { content: '\e9ee'; } /* '' */
.iconsax-media-forward-10s:before { content: '\e9ef'; } /* '' */
.iconsax-media-forward-15s:before { content: '\e9f0'; } /* '' */
.iconsax-media-next:before { content: '\e9f1'; } /* '' */
.iconsax-media-previous:before { content: '\e9f2'; } /* '' */
.iconsax-media-repeat:before { content: '\e9f3'; } /* '' */
.iconsax-media-repeat-single:before { content: '\e9f4'; } /* '' */
.iconsax-media-sliders-1:before { content: '\e9f5'; } /* '' */
.iconsax-media-sliders-2:before { content: '\e9f6'; } /* '' */
.iconsax-media-sliders-3:before { content: '\e9f7'; } /* '' */
.iconsax-media-stop:before { content: '\e9f8'; } /* '' */
.iconsax-media-stop-circle:before { content: '\e9f9'; } /* '' */
.iconsax-menu-4-dots:before { content: '\e9fa'; } /* '' */
.iconsax-menu-hamburger:before { content: '\e9fb'; } /* '' */
.iconsax-menu-meatballs:before { content: '\e9fc'; } /* '' */
.iconsax-message-add:before { content: '\e9fd'; } /* '' */
.iconsax-message-circle:before { content: '\e9fe'; } /* '' */
.iconsax-message-dash-1:before { content: '\e9ff'; } /* '' */
.iconsax-message-dash-2:before { content: '\ea00'; } /* '' */
.iconsax-message-dash-add:before { content: '\ea01'; } /* '' */
.iconsax-message-dash-remove:before { content: '\ea02'; } /* '' */
.iconsax-message-dash-tick:before { content: '\ea03'; } /* '' */
.iconsax-message-dash-time:before { content: '\ea04'; } /* '' */
.iconsax-message-dots:before { content: '\ea05'; } /* '' */
.iconsax-message-dots-favorite:before { content: '\ea06'; } /* '' */
.iconsax-message-dots-notif:before { content: '\ea07'; } /* '' */
.iconsax-message-dots-search:before { content: '\ea08'; } /* '' */
.iconsax-message-edit:before { content: '\ea09'; } /* '' */
.iconsax-message-minus:before { content: '\ea0a'; } /* '' */
.iconsax-messages-1:before { content: '\ea0b'; } /* '' */
.iconsax-messages-2:before { content: '\ea0c'; } /* '' */
.iconsax-messages-3:before { content: '\ea0d'; } /* '' */
.iconsax-messages-4:before { content: '\ea0e'; } /* '' */
.iconsax-message-square:before { content: '\ea0f'; } /* '' */
.iconsax-message-text:before { content: '\ea10'; } /* '' */
.iconsax-messenger:before { content: '\ea11'; } /* '' */
.iconsax-mic-1:before { content: '\ea12'; } /* '' */
.iconsax-mic-2:before { content: '\ea13'; } /* '' */
.iconsax-mic-slash-1:before { content: '\ea14'; } /* '' */
.iconsax-mic-slash-2:before { content: '\ea15'; } /* '' */
.iconsax-milk:before { content: '\ea16'; } /* '' */
.iconsax-minus:before { content: '\ea17'; } /* '' */
.iconsax-minus-circle:before { content: '\ea18'; } /* '' */
.iconsax-minus-square:before { content: '\ea19'; } /* '' */
.iconsax-mirror:before { content: '\ea1a'; } /* '' */
.iconsax-mobile:before { content: '\ea1b'; } /* '' */
.iconsax-money-1:before { content: '\ea1c'; } /* '' */
.iconsax-money-2:before { content: '\ea1d'; } /* '' */
.iconsax-money-3:before { content: '\ea1e'; } /* '' */
.iconsax-money-4:before { content: '\ea1f'; } /* '' */
.iconsax-money-add:before { content: '\ea20'; } /* '' */
.iconsax-money-change:before { content: '\ea21'; } /* '' */
.iconsax-money-forbidden:before { content: '\ea22'; } /* '' */
.iconsax-money-in:before { content: '\ea23'; } /* '' */
.iconsax-money-out:before { content: '\ea24'; } /* '' */
.iconsax-money-remove:before { content: '\ea25'; } /* '' */
.iconsax-money-tick:before { content: '\ea26'; } /* '' */
.iconsax-money-time:before { content: '\ea27'; } /* '' */
.iconsax-monitor:before { content: '\ea28'; } /* '' */
.iconsax-monitor-and-mobile:before { content: '\ea29'; } /* '' */
.iconsax-monitor-message:before { content: '\ea2a'; } /* '' */
.iconsax-monitor-record:before { content: '\ea2b'; } /* '' */
.iconsax-moon:before { content: '\ea2c'; } /* '' */
.iconsax-more-circle:before { content: '\ea2d'; } /* '' */
.iconsax-more-square:before { content: '\ea2e'; } /* '' */
.iconsax-mouse:before { content: '\ea2f'; } /* '' */
.iconsax-mouse-circle:before { content: '\ea30'; } /* '' */
.iconsax-mouse-square:before { content: '\ea31'; } /* '' */
.iconsax-music:before { content: '\ea32'; } /* '' */
.iconsax-music-circle-dashed:before { content: '\ea33'; } /* '' */
.iconsax-music-dashboard:before { content: '\ea34'; } /* '' */
.iconsax-music-list:before { content: '\ea35'; } /* '' */
.iconsax-music-multi:before { content: '\ea36'; } /* '' */
.iconsax-music-note:before { content: '\ea37'; } /* '' */
.iconsax-music-playlist:before { content: '\ea38'; } /* '' */
.iconsax-music-square-1:before { content: '\ea39'; } /* '' */
.iconsax-music-square-2:before { content: '\ea3a'; } /* '' */
.iconsax-music-square-3:before { content: '\ea3b'; } /* '' */
.iconsax-music-square-4:before { content: '\ea3c'; } /* '' */
.iconsax-music-square-add:before { content: '\ea3d'; } /* '' */
.iconsax-music-square-remove:before { content: '\ea3e'; } /* '' */
.iconsax-music-square-search:before { content: '\ea3f'; } /* '' */
.iconsax-network:before { content: '\ea40'; } /* '' */
.iconsax-not-allowed-1:before { content: '\ea41'; } /* '' */
.iconsax-not-allowed-2:before { content: '\ea42'; } /* '' */
.iconsax-not-allowed-3:before { content: '\ea43'; } /* '' */
.iconsax-note:before { content: '\ea44'; } /* '' */
.iconsax-note-add:before { content: '\ea45'; } /* '' */
.iconsax-note-favorite:before { content: '\ea46'; } /* '' */
.iconsax-notepad:before { content: '\ea47'; } /* '' */
.iconsax-note-remove:before { content: '\ea48'; } /* '' */
.iconsax-notes-1:before { content: '\ea49'; } /* '' */
.iconsax-notes-2:before { content: '\ea4a'; } /* '' */
.iconsax-note-text:before { content: '\ea4b'; } /* '' */
.iconsax-notif-circle:before { content: '\ea4c'; } /* '' */
.iconsax-notif-square:before { content: '\ea4d'; } /* '' */
.iconsax-notif-square-favorite:before { content: '\ea4e'; } /* '' */
.iconsax-notif-square-text:before { content: '\ea4f'; } /* '' */
.iconsax-nut:before { content: '\ea50'; } /* '' */
.iconsax-omega-circle:before { content: '\ea51'; } /* '' */
.iconsax-omega-square:before { content: '\ea52'; } /* '' */
.iconsax-overlap:before { content: '\ea53'; } /* '' */
.iconsax-package:before { content: '\ea54'; } /* '' */
.iconsax-page-with-bookmark-1:before { content: '\ea55'; } /* '' */
.iconsax-page-with-bookmark-2:before { content: '\ea56'; } /* '' */
.iconsax-paintbucket:before { content: '\ea57'; } /* '' */
.iconsax-paint-bucket:before { content: '\ea58'; } /* '' */
.iconsax-paint-bucket-circle:before { content: '\ea59'; } /* '' */
.iconsax-paint-bucket-square:before { content: '\ea5a'; } /* '' */
.iconsax-paperclip-1:before { content: '\ea5b'; } /* '' */
.iconsax-paperclip-2:before { content: '\ea5c'; } /* '' */
.iconsax-password-check:before { content: '\ea5d'; } /* '' */
.iconsax-pause:before { content: '\ea5e'; } /* '' */
.iconsax-pause-circle:before { content: '\ea5f'; } /* '' */
.iconsax-paypal:before { content: '\ea60'; } /* '' */
.iconsax-pen-path-1:before { content: '\ea61'; } /* '' */
.iconsax-pen-path-2:before { content: '\ea62'; } /* '' */
.iconsax-pen-tool-1:before { content: '\ea63'; } /* '' */
.iconsax-pen-tool-2:before { content: '\ea64'; } /* '' */
.iconsax-pen-tool-add:before { content: '\ea65'; } /* '' */
.iconsax-pen-tool-close:before { content: '\ea66'; } /* '' */
.iconsax-pen-tool-remove:before { content: '\ea67'; } /* '' */
.iconsax-pen-tool-square:before { content: '\ea68'; } /* '' */
.iconsax-percentage-circle:before { content: '\ea69'; } /* '' */
.iconsax-percentage-square:before { content: '\ea6a'; } /* '' */
.iconsax-pet:before { content: '\ea6b'; } /* '' */
.iconsax-phone:before { content: '\ea6c'; } /* '' */
.iconsax-phone-add:before { content: '\ea6d'; } /* '' */
.iconsax-phone-calling:before { content: '\ea6e'; } /* '' */
.iconsax-phone-minus:before { content: '\ea6f'; } /* '' */
.iconsax-phone-outgoing:before { content: '\ea70'; } /* '' */
.iconsax-phone-receive:before { content: '\ea71'; } /* '' */
.iconsax-phone-remove:before { content: '\ea72'; } /* '' */
.iconsax-phone-slash:before { content: '\ea73'; } /* '' */
.iconsax-phone-tick:before { content: '\ea74'; } /* '' */
.iconsax-photoshop:before { content: '\ea75'; } /* '' */
.iconsax-picture:before { content: '\ea76'; } /* '' */
.iconsax-picture-add:before { content: '\ea77'; } /* '' */
.iconsax-picture-download:before { content: '\ea78'; } /* '' */
.iconsax-picture-edit:before { content: '\ea79'; } /* '' */
.iconsax-picture-favorite:before { content: '\ea7a'; } /* '' */
.iconsax-picture-no-square:before { content: '\ea7b'; } /* '' */
.iconsax-picture-remove:before { content: '\ea7c'; } /* '' */
.iconsax-picture-slash:before { content: '\ea7d'; } /* '' */
.iconsax-picture-tick:before { content: '\ea7e'; } /* '' */
.iconsax-picture-upload:before { content: '\ea7f'; } /* '' */
.iconsax-pie-chart:before { content: '\ea80'; } /* '' */
.iconsax-play:before { content: '\ea81'; } /* '' */
.iconsax-play-circle:before { content: '\ea82'; } /* '' */
.iconsax-play-circle-add:before { content: '\ea83'; } /* '' */
.iconsax-play-circle-dashed:before { content: '\ea84'; } /* '' */
.iconsax-play-circle-remove:before { content: '\ea85'; } /* '' */
.iconsax-play-octagon:before { content: '\ea86'; } /* '' */
.iconsax-play-square:before { content: '\ea87'; } /* '' */
.iconsax-plug:before { content: '\ea88'; } /* '' */
.iconsax-pop-in-circle:before { content: '\ea89'; } /* '' */
.iconsax-pop-in-square:before { content: '\ea8a'; } /* '' */
.iconsax-pop-out:before { content: '\ea8b'; } /* '' */
.iconsax-pop-out-player:before { content: '\ea8c'; } /* '' */
.iconsax-presentation-chart:before { content: '\ea8d'; } /* '' */
.iconsax-printer:before { content: '\ea8e'; } /* '' */
.iconsax-printer-slash:before { content: '\ea8f'; } /* '' */
.iconsax-profile-card:before { content: '\ea90'; } /* '' */
.iconsax-python:before { content: '\ea91'; } /* '' */
.iconsax-qr-code:before { content: '\ea92'; } /* '' */
.iconsax-question-message:before { content: '\ea93'; } /* '' */
.iconsax-quote-end:before { content: '\ea94'; } /* '' */
.iconsax-quote-end-circle:before { content: '\ea95'; } /* '' */
.iconsax-quote-end-square:before { content: '\ea96'; } /* '' */
.iconsax-quote-start:before { content: '\ea97'; } /* '' */
.iconsax-quote-start-circle:before { content: '\ea98'; } /* '' */
.iconsax-quote-start-square:before { content: '\ea99'; } /* '' */
.iconsax-radar-1:before { content: '\ea9a'; } /* '' */
.iconsax-radar-2:before { content: '\ea9b'; } /* '' */
.iconsax-radial-chart:before { content: '\ea9c'; } /* '' */
.iconsax-radio:before { content: '\ea9d'; } /* '' */
.iconsax-ram-1:before { content: '\ea9e'; } /* '' */
.iconsax-ram-2:before { content: '\ea9f'; } /* '' */
.iconsax-random:before { content: '\eaa0'; } /* '' */
.iconsax-ranking:before { content: '\eaa1'; } /* '' */
.iconsax-receipt-1:before { content: '\eaa2'; } /* '' */
.iconsax-receipt-2:before { content: '\eaa3'; } /* '' */
.iconsax-receipt-3:before { content: '\eaa4'; } /* '' */
.iconsax-receipt-4:before { content: '\eaa5'; } /* '' */
.iconsax-receipt-add:before { content: '\eaa6'; } /* '' */
.iconsax-receipt-discount-1:before { content: '\eaa7'; } /* '' */
.iconsax-receipt-discount-2:before { content: '\eaa8'; } /* '' */
.iconsax-receipt-edit:before { content: '\eaa9'; } /* '' */
.iconsax-receipt-list:before { content: '\eaaa'; } /* '' */
.iconsax-receipt-minus-1:before { content: '\eaab'; } /* '' */
.iconsax-receipt-minus-2:before { content: '\eaac'; } /* '' */
.iconsax-receipt-search:before { content: '\eaad'; } /* '' */
.iconsax-receipt-square:before { content: '\eaae'; } /* '' */
.iconsax-receipt-text:before { content: '\eaaf'; } /* '' */
.iconsax-receive:before { content: '\eab0'; } /* '' */
.iconsax-receive-diagonal-square:before { content: '\eab1'; } /* '' */
.iconsax-receive-square:before { content: '\eab2'; } /* '' */
.iconsax-record-1:before { content: '\eab3'; } /* '' */
.iconsax-record-2:before { content: '\eab4'; } /* '' */
.iconsax-recover:before { content: '\eab5'; } /* '' */
.iconsax-redo:before { content: '\eab6'; } /* '' */
.iconsax-redo-square:before { content: '\eab7'; } /* '' */
.iconsax-refresh:before { content: '\eab8'; } /* '' */
.iconsax-refresh-circle:before { content: '\eab9'; } /* '' */
.iconsax-refresh-left-square:before { content: '\eaba'; } /* '' */
.iconsax-refresh-square:before { content: '\eabb'; } /* '' */
.iconsax-repeat:before { content: '\eabc'; } /* '' */
.iconsax-repeat-circle:before { content: '\eabd'; } /* '' */
.iconsax-reserve-bell:before { content: '\eabe'; } /* '' */
.iconsax-rotate-left:before { content: '\eabf'; } /* '' */
.iconsax-rotate-right:before { content: '\eac0'; } /* '' */
.iconsax-rotate-right-square:before { content: '\eac1'; } /* '' */
.iconsax-route-1:before { content: '\eac2'; } /* '' */
.iconsax-route-2:before { content: '\eac3'; } /* '' */
.iconsax-rows-horizontal:before { content: '\eac4'; } /* '' */
.iconsax-rows-vertical:before { content: '\eac5'; } /* '' */
.iconsax-ruler:before { content: '\eac6'; } /* '' */
.iconsax-safebox-1:before { content: '\eac7'; } /* '' */
.iconsax-safebox-2:before { content: '\eac8'; } /* '' */
.iconsax-scan-1:before { content: '\eac9'; } /* '' */
.iconsax-scan-2:before { content: '\eaca'; } /* '' */
.iconsax-scan-3:before { content: '\eacb'; } /* '' */
.iconsax-scan-4:before { content: '\eacc'; } /* '' */
.iconsax-scissors:before { content: '\eacd'; } /* '' */
.iconsax-scissors-square:before { content: '\eace'; } /* '' */
.iconsax-scroll-horizontal-square:before { content: '\eacf'; } /* '' */
.iconsax-search-favorite-1:before { content: '\ead0'; } /* '' */
.iconsax-search-favorite-2:before { content: '\ead1'; } /* '' */
.iconsax-search-normal-1:before { content: '\ead2'; } /* '' */
.iconsax-search-normal-2:before { content: '\ead3'; } /* '' */
.iconsax-search-status-1:before { content: '\ead4'; } /* '' */
.iconsax-search-status-2:before { content: '\ead5'; } /* '' */
.iconsax-search-zoom-in-1:before { content: '\ead6'; } /* '' */
.iconsax-search-zoom-in-2:before { content: '\ead7'; } /* '' */
.iconsax-search-zoom-out-1:before { content: '\ead8'; } /* '' */
.iconsax-search-zoom-out-2:before { content: '\ead9'; } /* '' */
.iconsax-secure:before { content: '\eada'; } /* '' */
.iconsax-security:before { content: '\eadb'; } /* '' */
.iconsax-security-time:before { content: '\eadc'; } /* '' */
.iconsax-security-user:before { content: '\eadd'; } /* '' */
.iconsax-send-1:before { content: '\eade'; } /* '' */
.iconsax-send-2:before { content: '\eadf'; } /* '' */
.iconsax-send-diagonal:before { content: '\eae0'; } /* '' */
.iconsax-send-diagonal-square:before { content: '\eae1'; } /* '' */
.iconsax-setting-1:before { content: '\eae2'; } /* '' */
.iconsax-setting-2:before { content: '\eae3'; } /* '' */
.iconsax-setting-3:before { content: '\eae4'; } /* '' */
.iconsax-shapes-1:before { content: '\eae5'; } /* '' */
.iconsax-shapes-2:before { content: '\eae6'; } /* '' */
.iconsax-shield:before { content: '\eae7'; } /* '' */
.iconsax-shield-cross:before { content: '\eae8'; } /* '' */
.iconsax-shield-lock:before { content: '\eae9'; } /* '' */
.iconsax-shield-search:before { content: '\eaea'; } /* '' */
.iconsax-shield-slash:before { content: '\eaeb'; } /* '' */
.iconsax-shield-tick:before { content: '\eaec'; } /* '' */
.iconsax-ship:before { content: '\eaed'; } /* '' */
.iconsax-shop:before { content: '\eaee'; } /* '' */
.iconsax-shop-add:before { content: '\eaef'; } /* '' */
.iconsax-shopping-cart:before { content: '\eaf0'; } /* '' */
.iconsax-shop-remove:before { content: '\eaf1'; } /* '' */
.iconsax-shuffle:before { content: '\eaf2'; } /* '' */
.iconsax-sidebar-left:before { content: '\eaf3'; } /* '' */
.iconsax-sidebar-right:before { content: '\eaf4'; } /* '' */
.iconsax-signpost:before { content: '\eaf5'; } /* '' */
.iconsax-simcard-1:before { content: '\eaf6'; } /* '' */
.iconsax-simcard-2:before { content: '\eaf7'; } /* '' */
.iconsax-simcards:before { content: '\eaf8'; } /* '' */
.iconsax-size:before { content: '\eaf9'; } /* '' */
.iconsax-slack:before { content: '\eafa'; } /* '' */
.iconsax-slider:before { content: '\eafb'; } /* '' */
.iconsax-slideshow-horizontal-1:before { content: '\eafc'; } /* '' */
.iconsax-slideshow-horizontal-2:before { content: '\eafd'; } /* '' */
.iconsax-slideshow-vertical-1:before { content: '\eafe'; } /* '' */
.iconsax-slideshow-vertical-2:before { content: '\eaff'; } /* '' */
.iconsax-smart-car:before { content: '\eb00'; } /* '' */
.iconsax-smart-home:before { content: '\eb01'; } /* '' */
.iconsax-smileys:before { content: '\eb02'; } /* '' */
.iconsax-snapchat:before { content: '\eb03'; } /* '' */
.iconsax-snow:before { content: '\eb04'; } /* '' */
.iconsax-sort:before { content: '\eb05'; } /* '' */
.iconsax-sound:before { content: '\eb06'; } /* '' */
.iconsax-sound-circle:before { content: '\eb07'; } /* '' */
.iconsax-sound-square:before { content: '\eb08'; } /* '' */
.iconsax-speaker:before { content: '\eb09'; } /* '' */
.iconsax-speedometer:before { content: '\eb0a'; } /* '' */
.iconsax-spotify:before { content: '\eb0b'; } /* '' */
.iconsax-square:before { content: '\eb0c'; } /* '' */
.iconsax-star:before { content: '\eb0d'; } /* '' */
.iconsax-star-slash:before { content: '\eb0e'; } /* '' */
.iconsax-star-speed:before { content: '\eb0f'; } /* '' */
.iconsax-status:before { content: '\eb10'; } /* '' */
.iconsax-stickynote:before { content: '\eb11'; } /* '' */
.iconsax-stickynote-round:before { content: '\eb12'; } /* '' */
.iconsax-stopwatch:before { content: '\eb13'; } /* '' */
.iconsax-stopwatch-pause:before { content: '\eb14'; } /* '' */
.iconsax-stopwatch-play:before { content: '\eb15'; } /* '' */
.iconsax-story:before { content: '\eb16'; } /* '' */
.iconsax-subtitles:before { content: '\eb17'; } /* '' */
.iconsax-sun:before { content: '\eb18'; } /* '' */
.iconsax-sun-fog:before { content: '\eb19'; } /* '' */
.iconsax-swap-horizontal:before { content: '\eb1a'; } /* '' */
.iconsax-swap-vertical:before { content: '\eb1b'; } /* '' */
.iconsax-tag-1:before { content: '\eb1c'; } /* '' */
.iconsax-tag-2:before { content: '\eb1d'; } /* '' */
.iconsax-tag-right:before { content: '\eb1e'; } /* '' */
.iconsax-tag-user:before { content: '\eb1f'; } /* '' */
.iconsax-task-list:before { content: '\eb20'; } /* '' */
.iconsax-task-list-square:before { content: '\eb21'; } /* '' */
.iconsax-teacher:before { content: '\eb22'; } /* '' */
.iconsax-telescope:before { content: '\eb23'; } /* '' */
.iconsax-text:before { content: '\eb24'; } /* '' */
.iconsax-text-align-center:before { content: '\eb25'; } /* '' */
.iconsax-text-align-justify:before { content: '\eb26'; } /* '' */
.iconsax-text-align-left:before { content: '\eb27'; } /* '' */
.iconsax-text-align-right:before { content: '\eb28'; } /* '' */
.iconsax-text-block:before { content: '\eb29'; } /* '' */
.iconsax-therefore:before { content: '\eb2a'; } /* '' */
.iconsax-thick-arrow-down:before { content: '\eb2b'; } /* '' */
.iconsax-thick-arrow-left:before { content: '\eb2c'; } /* '' */
.iconsax-thick-arrow-right:before { content: '\eb2d'; } /* '' */
.iconsax-thick-arrow-up:before { content: '\eb2e'; } /* '' */
.iconsax-tick-circle:before { content: '\eb2f'; } /* '' */
.iconsax-ticket-1:before { content: '\eb30'; } /* '' */
.iconsax-ticket-2:before { content: '\eb31'; } /* '' */
.iconsax-ticket-discount:before { content: '\eb32'; } /* '' */
.iconsax-ticket-star:before { content: '\eb33'; } /* '' */
.iconsax-ticket-tear:before { content: '\eb34'; } /* '' */
.iconsax-tick-square:before { content: '\eb35'; } /* '' */
.iconsax-toggle-off-rectangle:before { content: '\eb36'; } /* '' */
.iconsax-toggle-off-round:before { content: '\eb37'; } /* '' */
.iconsax-toggle-on-rectangle:before { content: '\eb38'; } /* '' */
.iconsax-toggle-on-round:before { content: '\eb39'; } /* '' */
.iconsax-transaction:before { content: '\eb3a'; } /* '' */
.iconsax-translate:before { content: '\eb3b'; } /* '' */
.iconsax-trash:before { content: '\eb3c'; } /* '' */
.iconsax-trash-square:before { content: '\eb3d'; } /* '' */
.iconsax-tree:before { content: '\eb3e'; } /* '' */
.iconsax-trello:before { content: '\eb3f'; } /* '' */
.iconsax-trend-down-square:before { content: '\eb40'; } /* '' */
.iconsax-trend-up-square:before { content: '\eb41'; } /* '' */
.iconsax-triangle:before { content: '\eb42'; } /* '' */
.iconsax-trophy:before { content: '\eb43'; } /* '' */
.iconsax-truck:before { content: '\eb44'; } /* '' */
.iconsax-truck-fast:before { content: '\eb45'; } /* '' */
.iconsax-truck-remove:before { content: '\eb46'; } /* '' */
.iconsax-truck-tick:before { content: '\eb47'; } /* '' */
.iconsax-truck-time:before { content: '\eb48'; } /* '' */
.iconsax-tuning-knob:before { content: '\eb49'; } /* '' */
.iconsax-twitch:before { content: '\eb4a'; } /* '' */
.iconsax-ui8:before { content: '\eb4b'; } /* '' */
.iconsax-underline:before { content: '\eb4c'; } /* '' */
.iconsax-undo:before { content: '\eb4d'; } /* '' */
.iconsax-undo-square:before { content: '\eb4e'; } /* '' */
.iconsax-unlock:before { content: '\eb4f'; } /* '' */
.iconsax-user-1:before { content: '\eb50'; } /* '' */
.iconsax-user-1-add:before { content: '\eb51'; } /* '' */
.iconsax-user-1-delete:before { content: '\eb52'; } /* '' */
.iconsax-user-1-octagon:before { content: '\eb53'; } /* '' */
.iconsax-user-1-remove:before { content: '\eb54'; } /* '' */
.iconsax-user-1-square:before { content: '\eb55'; } /* '' */
.iconsax-user-1-tag:before { content: '\eb56'; } /* '' */
.iconsax-user-1-tick:before { content: '\eb57'; } /* '' */
.iconsax-user-2:before { content: '\eb58'; } /* '' */
.iconsax-user-2-add:before { content: '\eb59'; } /* '' */
.iconsax-user-2-circle:before { content: '\eb5a'; } /* '' */
.iconsax-user-2-circle-add:before { content: '\eb5b'; } /* '' */
.iconsax-user-2-edit:before { content: '\eb5c'; } /* '' */
.iconsax-user-2-minus:before { content: '\eb5d'; } /* '' */
.iconsax-user-2-remove:before { content: '\eb5e'; } /* '' */
.iconsax-user-2-search:before { content: '\eb5f'; } /* '' */
.iconsax-user-2-tick:before { content: '\eb60'; } /* '' */
.iconsax-users:before { content: '\eb61'; } /* '' */
.iconsax-verify:before { content: '\eb62'; } /* '' */
.iconsax-video-1:before { content: '\eb63'; } /* '' */
.iconsax-video-2:before { content: '\eb64'; } /* '' */
.iconsax-video-add:before { content: '\eb65'; } /* '' */
.iconsax-video-horizontal:before { content: '\eb66'; } /* '' */
.iconsax-video-remove:before { content: '\eb67'; } /* '' */
.iconsax-video-slash:before { content: '\eb68'; } /* '' */
.iconsax-video-tick:before { content: '\eb69'; } /* '' */
.iconsax-video-time:before { content: '\eb6a'; } /* '' */
.iconsax-video-vertical:before { content: '\eb6b'; } /* '' */
.iconsax-volume-cross:before { content: '\eb6c'; } /* '' */
.iconsax-volume-down:before { content: '\eb6d'; } /* '' */
.iconsax-volume-high:before { content: '\eb6e'; } /* '' */
.iconsax-volume-low:before { content: '\eb6f'; } /* '' */
.iconsax-volume-mute:before { content: '\eb70'; } /* '' */
.iconsax-volume-slash:before { content: '\eb71'; } /* '' */
.iconsax-volume-up:before { content: '\eb72'; } /* '' */
.iconsax-wallet-1:before { content: '\eb73'; } /* '' */
.iconsax-wallet-2:before { content: '\eb74'; } /* '' */
.iconsax-wallet-3:before { content: '\eb75'; } /* '' */
.iconsax-wallet-4:before { content: '\eb76'; } /* '' */
.iconsax-wallet-add:before { content: '\eb77'; } /* '' */
.iconsax-wallet-add-1:before { content: '\eb78'; } /* '' */
.iconsax-wallet-check:before { content: '\eb79'; } /* '' */
.iconsax-wallet-minus:before { content: '\eb7a'; } /* '' */
.iconsax-wallet-money:before { content: '\eb7b'; } /* '' */
.iconsax-wallet-open:before { content: '\eb7c'; } /* '' */
.iconsax-wallet-open-add:before { content: '\eb7d'; } /* '' */
.iconsax-wallet-open-change:before { content: '\eb7e'; } /* '' */
.iconsax-wallet-open-remove:before { content: '\eb7f'; } /* '' */
.iconsax-wallet-open-tick:before { content: '\eb80'; } /* '' */
.iconsax-wallet-open-time:before { content: '\eb81'; } /* '' */
.iconsax-wallet-remove:before { content: '\eb82'; } /* '' */
.iconsax-wallet-search:before { content: '\eb83'; } /* '' */
.iconsax-warning-octagon:before { content: '\eb84'; } /* '' */
.iconsax-watch-activity:before { content: '\eb85'; } /* '' */
.iconsax-watch-circle:before { content: '\eb86'; } /* '' */
.iconsax-watch-square:before { content: '\eb87'; } /* '' */
.iconsax-weights:before { content: '\eb88'; } /* '' */
.iconsax-weight-scale:before { content: '\eb89'; } /* '' */
.iconsax-whatsapp:before { content: '\eb8a'; } /* '' */
.iconsax-wifi:before { content: '\eb8b'; } /* '' */
.iconsax-wifi-square:before { content: '\eb8c'; } /* '' */
.iconsax-wind-1:before { content: '\eb8d'; } /* '' */
.iconsax-wind-2:before { content: '\eb8e'; } /* '' */
.iconsax-windows:before { content: '\eb8f'; } /* '' */
.iconsax-xd:before { content: '\eb90'; } /* '' */
.iconsax-xiaomi:before { content: '\eb91'; } /* '' */
.iconsax-youtube:before { content: '\eb92'; } /* '' */
.iconsax-zoom:before { content: '\eb93'; } /* '' */