@font-face {
  font-family: 'iconsax';
  src: url('../fonts/iconsax.eot?52848807');
  src: url('../fonts/iconsax.eot?52848807#iefix') format('embedded-opentype'),
       url('../fonts/iconsax.woff2?52848807') format('woff2'),
       url('../fonts/iconsax.woff?52848807') format('woff'),
       url('../fonts/iconsax.ttf?52848807') format('truetype'),
       url('../fonts/iconsax.svg?52848807#iconsax') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iconsax';
    src: url('../font/iconsax.svg?52848807#iconsax') format('svg');
  }
}
*/
[class^="iconsax-"]:before, [class*=" iconsax-"]:before {
  font-family: "iconsax";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  /*width: 1em;*/
  /*margin-right: .2em;*/
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /*margin-left: .2em;*/

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.iconsax-add-square:before { content: '\e800'; } /* '' */
.iconsax-airdrop:before { content: '\e801'; } /* '' */
.iconsax-airplane-square:before { content: '\e802'; } /* '' */
.iconsax-airplane:before { content: '\e803'; } /* '' */
.iconsax-airpod:before { content: '\e804'; } /* '' */
.iconsax-airpods:before { content: '\e805'; } /* '' */
.iconsax-alarm:before { content: '\e806'; } /* '' */
.iconsax-align-bottom:before { content: '\e807'; } /* '' */
.iconsax-align-horizontally:before { content: '\e808'; } /* '' */
.iconsax-align-left:before { content: '\e809'; } /* '' */
.iconsax-align-right:before { content: '\e80a'; } /* '' */
.iconsax-align-vertically:before { content: '\e80b'; } /* '' */
.iconsax-aquarius:before { content: '\e80c'; } /* '' */
.iconsax-archive:before { content: '\e80d'; } /* '' */
.iconsax-archive-1:before { content: '\e80e'; } /* '' */
.iconsax-archive-add:before { content: '\e80f'; } /* '' */
.iconsax-archive-book:before { content: '\e810'; } /* '' */
.iconsax-archive-minus:before { content: '\e811'; } /* '' */
.iconsax-archive-slash:before { content: '\e812'; } /* '' */
.iconsax-archive-tick:before { content: '\e813'; } /* '' */
.iconsax-arrange-circle:before { content: '\e814'; } /* '' */
.iconsax-arrange-circle-2:before { content: '\e815'; } /* '' */
.iconsax-arrange-square:before { content: '\e816'; } /* '' */
.iconsax-arrange-square-2:before { content: '\e817'; } /* '' */
.iconsax-arrow:before { content: '\e818'; } /* '' */
.iconsax-arrow-2:before { content: '\e819'; } /* '' */
.iconsax-arrow-bottom:before { content: '\e81a'; } /* '' */
.iconsax-arrow-3:before { content: '\e81b'; } /* '' */
.iconsax-arrow-circle-down:before { content: '\e81c'; } /* '' */
.iconsax-arrow-circle-left:before { content: '\e81d'; } /* '' */
.iconsax-arrow-circle-right:before { content: '\e81e'; } /* '' */
.iconsax-arrow-down:before { content: '\e81f'; } /* '' */
.iconsax-arrow-down-1:before { content: '\e820'; } /* '' */
.iconsax-arrow-down-2:before { content: '\e821'; } /* '' */
.iconsax-arrow-left:before { content: '\e822'; } /* '' */
.iconsax-arrow-left-1:before { content: '\e823'; } /* '' */
.iconsax-arrow-left-2:before { content: '\e824'; } /* '' */
.iconsax-arrow-left-3:before { content: '\e825'; } /* '' */
.iconsax-arrow-right:before { content: '\e826'; } /* '' */
.iconsax-arrow-right-1:before { content: '\e827'; } /* '' */
.iconsax-arrow-right-2:before { content: '\e828'; } /* '' */
.iconsax-arrow-right-3:before { content: '\e829'; } /* '' */
.iconsax-arrow-square:before { content: '\e82a'; } /* '' */
.iconsax-arrow-square-down:before { content: '\e82b'; } /* '' */
.iconsax-arrow-square-left:before { content: '\e82c'; } /* '' */
.iconsax-arrow-square-right:before { content: '\e82d'; } /* '' */
.iconsax-arrow-square-up:before { content: '\e82e'; } /* '' */
.iconsax-arrow-swap-horizontal:before { content: '\e82f'; } /* '' */
.iconsax-arrow-up:before { content: '\e830'; } /* '' */
.iconsax-arrow-up-2:before { content: '\e831'; } /* '' */
.iconsax-arrow-up-1:before { content: '\e832'; } /* '' */
.iconsax-arrow-up-3:before { content: '\e833'; } /* '' */
.iconsax-attach-circle:before { content: '\e834'; } /* '' */
.iconsax-attach-square:before { content: '\e835'; } /* '' */
.iconsax-audio-square:before { content: '\e836'; } /* '' */
.iconsax-autobrightness:before { content: '\e837'; } /* '' */
.iconsax-award:before { content: '\e838'; } /* '' */
.iconsax-back-square:before { content: '\e839'; } /* '' */
.iconsax-backward:before { content: '\e83a'; } /* '' */
.iconsax-backward-5-seconds:before { content: '\e83b'; } /* '' */
.iconsax-backward-10-seconds:before { content: '\e83c'; } /* '' */
.iconsax-backward-15-seconds:before { content: '\e83d'; } /* '' */
.iconsax-backward-item:before { content: '\e83e'; } /* '' */
.iconsax-backward-item-1:before { content: '\e83f'; } /* '' */
.iconsax-bag:before { content: '\e840'; } /* '' */
.iconsax-bag-2:before { content: '\e841'; } /* '' */
.iconsax-bag-cross:before { content: '\e842'; } /* '' */
.iconsax-bag-cross-1:before { content: '\e843'; } /* '' */
.iconsax-bag-happy:before { content: '\e844'; } /* '' */
.iconsax-bag-tick:before { content: '\e845'; } /* '' */
.iconsax-bag-timer:before { content: '\e846'; } /* '' */
.iconsax-bag-tick-2:before { content: '\e847'; } /* '' */
.iconsax-bank:before { content: '\e848'; } /* '' */
.iconsax-barcode:before { content: '\e849'; } /* '' */
.iconsax-battery-disable:before { content: '\e84a'; } /* '' */
.iconsax-battery-3full:before { content: '\e84b'; } /* '' */
.iconsax-battery-charging:before { content: '\e84c'; } /* '' */
.iconsax-battery-empty:before { content: '\e84d'; } /* '' */
.iconsax-battery-full:before { content: '\e84e'; } /* '' */
.iconsax-bezier:before { content: '\e84f'; } /* '' */
.iconsax-battery-empty-1:before { content: '\e850'; } /* '' */
.iconsax-bezier-1:before { content: '\e851'; } /* '' */
.iconsax-bill:before { content: '\e852'; } /* '' */
.iconsax-bitcoin-card:before { content: '\e853'; } /* '' */
.iconsax-bitcoin-convert:before { content: '\e854'; } /* '' */
.iconsax-bitcoin-refresh:before { content: '\e855'; } /* '' */
.iconsax-blend:before { content: '\e856'; } /* '' */
.iconsax-blend-2:before { content: '\e857'; } /* '' */
.iconsax-bluetooth:before { content: '\e858'; } /* '' */
.iconsax-bluetooth-2:before { content: '\e859'; } /* '' */
.iconsax-bluetooth-circle:before { content: '\e85a'; } /* '' */
.iconsax-bluetooth-rectangle:before { content: '\e85b'; } /* '' */
.iconsax-blur:before { content: '\e85c'; } /* '' */
.iconsax-book:before { content: '\e85d'; } /* '' */
.iconsax-book-1:before { content: '\e85e'; } /* '' */
.iconsax-bookmark:before { content: '\e85f'; } /* '' */
.iconsax-blur-1:before { content: '\e860'; } /* '' */
.iconsax-book-saved:before { content: '\e861'; } /* '' */
.iconsax-book-square:before { content: '\e862'; } /* '' */
.iconsax-bookmark-2:before { content: '\e863'; } /* '' */
.iconsax-box:before { content: '\e864'; } /* '' */
.iconsax-box-1:before { content: '\e865'; } /* '' */
.iconsax-box-2:before { content: '\e866'; } /* '' */
.iconsax-box-add:before { content: '\e867'; } /* '' */
.iconsax-box-remove:before { content: '\e868'; } /* '' */
.iconsax-box-search:before { content: '\e869'; } /* '' */
.iconsax-box-tick:before { content: '\e86a'; } /* '' */
.iconsax-box-time:before { content: '\e86b'; } /* '' */
.iconsax-briefcase:before { content: '\e86c'; } /* '' */
.iconsax-brifecase-cross:before { content: '\e86d'; } /* '' */
.iconsax-brifecase-tick:before { content: '\e86e'; } /* '' */
.iconsax-brifecase-timer:before { content: '\e86f'; } /* '' */
.iconsax-broom:before { content: '\e870'; } /* '' */
.iconsax-brush:before { content: '\e871'; } /* '' */
.iconsax-brush-1:before { content: '\e872'; } /* '' */
.iconsax-brush-2:before { content: '\e873'; } /* '' */
.iconsax-brush-3:before { content: '\e874'; } /* '' */
.iconsax-bubble:before { content: '\e875'; } /* '' */
.iconsax-bucket-circle:before { content: '\e876'; } /* '' */
.iconsax-bucket-circle-1:before { content: '\e877'; } /* '' */
.iconsax-bucket-square:before { content: '\e878'; } /* '' */
.iconsax-bucket-square-1:before { content: '\e879'; } /* '' */
.iconsax-building:before { content: '\e87a'; } /* '' */
.iconsax-building-3:before { content: '\e87b'; } /* '' */
.iconsax-building-4:before { content: '\e87c'; } /* '' */
.iconsax-buildings:before { content: '\e87d'; } /* '' */
.iconsax-buildings-2:before { content: '\e87e'; } /* '' */
.iconsax-buliding:before { content: '\e87f'; } /* '' */
.iconsax-bus:before { content: '\e880'; } /* '' */
.iconsax-buy-crypto:before { content: '\e881'; } /* '' */
.iconsax-cake:before { content: '\e882'; } /* '' */
.iconsax-calculator:before { content: '\e883'; } /* '' */
.iconsax-calendar:before { content: '\e884'; } /* '' */
.iconsax-calendar-1:before { content: '\e885'; } /* '' */
.iconsax-calendar-2:before { content: '\e886'; } /* '' */
.iconsax-calendar-add:before { content: '\e887'; } /* '' */
.iconsax-calendar-circle:before { content: '\e888'; } /* '' */
.iconsax-calendar-edit:before { content: '\e889'; } /* '' */
.iconsax-calendar-remove:before { content: '\e88a'; } /* '' */
.iconsax-calendar-search:before { content: '\e88b'; } /* '' */
.iconsax-calendar-tick:before { content: '\e88c'; } /* '' */
.iconsax-call:before { content: '\e88d'; } /* '' */
.iconsax-call-add:before { content: '\e88e'; } /* '' */
.iconsax-call-calling:before { content: '\e88f'; } /* '' */
.iconsax-call-incoming:before { content: '\e890'; } /* '' */
.iconsax-call-minus:before { content: '\e891'; } /* '' */
.iconsax-call-outgoing:before { content: '\e892'; } /* '' */
.iconsax-call-received:before { content: '\e893'; } /* '' */
.iconsax-call-remove:before { content: '\e894'; } /* '' */
.iconsax-call-slash:before { content: '\e895'; } /* '' */
.iconsax-camera:before { content: '\e896'; } /* '' */
.iconsax-camera-slash:before { content: '\e897'; } /* '' */
.iconsax-candle:before { content: '\e898'; } /* '' */
.iconsax-candle-2:before { content: '\e899'; } /* '' */
.iconsax-car:before { content: '\e89a'; } /* '' */
.iconsax-card:before { content: '\e89b'; } /* '' */
.iconsax-card-add:before { content: '\e89c'; } /* '' */
.iconsax-card-coin:before { content: '\e89d'; } /* '' */
.iconsax-card-edit:before { content: '\e89e'; } /* '' */
.iconsax-card-pos:before { content: '\e89f'; } /* '' */
.iconsax-card-receive:before { content: '\e8a0'; } /* '' */
.iconsax-card-remove:before { content: '\e8a1'; } /* '' */
.iconsax-card-remove-1:before { content: '\e8a2'; } /* '' */
.iconsax-cards:before { content: '\e8a3'; } /* '' */
.iconsax-card-send:before { content: '\e8a4'; } /* '' */
.iconsax-card-slash:before { content: '\e8a5'; } /* '' */
.iconsax-card-tick:before { content: '\e8a6'; } /* '' */
.iconsax-card-tick-1:before { content: '\e8a7'; } /* '' */
.iconsax-category:before { content: '\e8a8'; } /* '' */
.iconsax-category-2:before { content: '\e8a9'; } /* '' */
.iconsax-cd:before { content: '\e8aa'; } /* '' */
.iconsax-chart:before { content: '\e8ab'; } /* '' */
.iconsax-chart-1:before { content: '\e8ac'; } /* '' */
.iconsax-chart-2:before { content: '\e8ad'; } /* '' */
.iconsax-chart-3:before { content: '\e8ae'; } /* '' */
.iconsax-chart-21:before { content: '\e8af'; } /* '' */
.iconsax-chart-square:before { content: '\e8b0'; } /* '' */
.iconsax-chart-success:before { content: '\e8b1'; } /* '' */
.iconsax-check:before { content: '\e8b2'; } /* '' */
.iconsax-chrome:before { content: '\e8b3'; } /* '' */
.iconsax-clipboard:before { content: '\e8b4'; } /* '' */
.iconsax-clipboard-close:before { content: '\e8b5'; } /* '' */
.iconsax-clipboard-export:before { content: '\e8b6'; } /* '' */
.iconsax-clipboard-import:before { content: '\e8b7'; } /* '' */
.iconsax-clipboard-text:before { content: '\e8b8'; } /* '' */
.iconsax-clipboard-tick:before { content: '\e8b9'; } /* '' */
.iconsax-clock:before { content: '\e8ba'; } /* '' */
.iconsax-clock-1:before { content: '\e8bb'; } /* '' */
.iconsax-close-circle:before { content: '\e8bc'; } /* '' */
.iconsax-close-square:before { content: '\e8bd'; } /* '' */
.iconsax-cloud:before { content: '\e8be'; } /* '' */
.iconsax-cloud-add:before { content: '\e8bf'; } /* '' */
.iconsax-cloud-change:before { content: '\e8c0'; } /* '' */
.iconsax-cloud-connection:before { content: '\e8c1'; } /* '' */
.iconsax-cloud-cross:before { content: '\e8c2'; } /* '' */
.iconsax-cloud-drizzle:before { content: '\e8c3'; } /* '' */
.iconsax-cloud-fog:before { content: '\e8c4'; } /* '' */
.iconsax-cloud-lightning:before { content: '\e8c5'; } /* '' */
.iconsax-cloud-minus:before { content: '\e8c6'; } /* '' */
.iconsax-cloud-notif:before { content: '\e8c7'; } /* '' */
.iconsax-cloud-plus:before { content: '\e8c8'; } /* '' */
.iconsax-cloud-remove:before { content: '\e8c9'; } /* '' */
.iconsax-cloud-snow:before { content: '\e8ca'; } /* '' */
.iconsax-cloud-sunny:before { content: '\e8cb'; } /* '' */
.iconsax-code:before { content: '\e8cc'; } /* '' */
.iconsax-code-1:before { content: '\e8cd'; } /* '' */
.iconsax-code-circle:before { content: '\e8ce'; } /* '' */
.iconsax-coffee:before { content: '\e8cf'; } /* '' */
.iconsax-coin:before { content: '\e8d0'; } /* '' */
.iconsax-coin-1:before { content: '\e8d1'; } /* '' */
.iconsax-colorfilter:before { content: '\e8d2'; } /* '' */
.iconsax-colors-square:before { content: '\e8d3'; } /* '' */
.iconsax-colors-square-1:before { content: '\e8d4'; } /* '' */
.iconsax-color-swatch:before { content: '\e8d5'; } /* '' */
.iconsax-command:before { content: '\e8d6'; } /* '' */
.iconsax-command-square:before { content: '\e8d7'; } /* '' */
.iconsax-component:before { content: '\e8d8'; } /* '' */
.iconsax-component-1:before { content: '\e8d9'; } /* '' */
.iconsax-computing:before { content: '\e8da'; } /* '' */
.iconsax-convert:before { content: '\e8db'; } /* '' */
.iconsax-convert-3d-cube:before { content: '\e8dc'; } /* '' */
.iconsax-convertshape:before { content: '\e8dd'; } /* '' */
.iconsax-convertshape-2:before { content: '\e8de'; } /* '' */
.iconsax-copy:before { content: '\e8df'; } /* '' */
.iconsax-copyright:before { content: '\e8e0'; } /* '' */
.iconsax-copy-success:before { content: '\e8e1'; } /* '' */
.iconsax-courthouse:before { content: '\e8e2'; } /* '' */
.iconsax-cpu:before { content: '\e8e3'; } /* '' */
.iconsax-cpu-charge:before { content: '\e8e4'; } /* '' */
.iconsax-cpu-setting:before { content: '\e8e5'; } /* '' */
.iconsax-creative-commons:before { content: '\e8e6'; } /* '' */
.iconsax-crop:before { content: '\e8e7'; } /* '' */
.iconsax-crown:before { content: '\e8e8'; } /* '' */
.iconsax-crown-1:before { content: '\e8e9'; } /* '' */
.iconsax-cup:before { content: '\e8ea'; } /* '' */
.iconsax-danger:before { content: '\e8eb'; } /* '' */
.iconsax-data:before { content: '\e8ec'; } /* '' */
.iconsax-data-2:before { content: '\e8ed'; } /* '' */
.iconsax-designtools:before { content: '\e8ee'; } /* '' */
.iconsax-device-message:before { content: '\e8ef'; } /* '' */
.iconsax-devices:before { content: '\e8f0'; } /* '' */
.iconsax-devices-1:before { content: '\e8f1'; } /* '' */
.iconsax-diagram:before { content: '\e8f2'; } /* '' */
.iconsax-diamonds:before { content: '\e8f3'; } /* '' */
.iconsax-direct:before { content: '\e8f4'; } /* '' */
.iconsax-directbox-default:before { content: '\e8f5'; } /* '' */
.iconsax-directbox-notif:before { content: '\e8f6'; } /* '' */
.iconsax-directbox-receive:before { content: '\e8f7'; } /* '' */
.iconsax-directbox-send:before { content: '\e8f8'; } /* '' */
.iconsax-direct-down:before { content: '\e8f9'; } /* '' */
.iconsax-direct-inbox:before { content: '\e8fa'; } /* '' */
.iconsax-direct-left:before { content: '\e8fb'; } /* '' */
.iconsax-direct-normal:before { content: '\e8fc'; } /* '' */
.iconsax-direct-notification:before { content: '\e8fd'; } /* '' */
.iconsax-direct-right:before { content: '\e8fe'; } /* '' */
.iconsax-direct-send:before { content: '\e8ff'; } /* '' */
.iconsax-direct-up:before { content: '\e900'; } /* '' */
.iconsax-discount-circle:before { content: '\e901'; } /* '' */
.iconsax-discount-shape:before { content: '\e902'; } /* '' */
.iconsax-discover:before { content: '\e903'; } /* '' */
.iconsax-discover-1:before { content: '\e904'; } /* '' */
.iconsax-dislike:before { content: '\e905'; } /* '' */
.iconsax-document:before { content: '\e906'; } /* '' */
.iconsax-document-1:before { content: '\e907'; } /* '' */
.iconsax-document-cloud:before { content: '\e908'; } /* '' */
.iconsax-document-code:before { content: '\e909'; } /* '' */
.iconsax-document-code-2:before { content: '\e90a'; } /* '' */
.iconsax-document-copy:before { content: '\e90b'; } /* '' */
.iconsax-document-download:before { content: '\e90c'; } /* '' */
.iconsax-document-favorite:before { content: '\e90d'; } /* '' */
.iconsax-document-filter:before { content: '\e90e'; } /* '' */
.iconsax-document-forward:before { content: '\e90f'; } /* '' */
.iconsax-document-like:before { content: '\e910'; } /* '' */
.iconsax-document-normal:before { content: '\e911'; } /* '' */
.iconsax-document-previous:before { content: '\e912'; } /* '' */
.iconsax-document-sketch:before { content: '\e913'; } /* '' */
.iconsax-document-text:before { content: '\e914'; } /* '' */
.iconsax-document-text-1:before { content: '\e915'; } /* '' */
.iconsax-document-upload:before { content: '\e916'; } /* '' */
.iconsax-dollar-circle:before { content: '\e917'; } /* '' */
.iconsax-dollar-square:before { content: '\e918'; } /* '' */
.iconsax-driver:before { content: '\e919'; } /* '' */
.iconsax-driver-2:before { content: '\e91a'; } /* '' */
.iconsax-driver-refresh:before { content: '\e91b'; } /* '' */
.iconsax-driving:before { content: '\e91c'; } /* '' */
.iconsax-drop:before { content: '\e91d'; } /* '' */
.iconsax-edit:before { content: '\e91e'; } /* '' */
.iconsax-edit-2:before { content: '\e91f'; } /* '' */
.iconsax-electricity:before { content: '\e920'; } /* '' */
.iconsax-element-1:before { content: '\e921'; } /* '' */
.iconsax-element-2:before { content: '\e922'; } /* '' */
.iconsax-element-3:before { content: '\e923'; } /* '' */
.iconsax-element-4:before { content: '\e924'; } /* '' */
.iconsax-element-equal:before { content: '\e925'; } /* '' */
.iconsax-element-plus:before { content: '\e926'; } /* '' */
.iconsax-emoji-happy:before { content: '\e927'; } /* '' */
.iconsax-emoji-normal:before { content: '\e928'; } /* '' */
.iconsax-emoji-sad:before { content: '\e929'; } /* '' */
.iconsax-empty-wallet:before { content: '\e92a'; } /* '' */
.iconsax-empty-wallet-add:before { content: '\e92b'; } /* '' */
.iconsax-empty-wallet-change:before { content: '\e92c'; } /* '' */
.iconsax-empty-wallet-remove:before { content: '\e92d'; } /* '' */
.iconsax-empty-wallet-tick:before { content: '\e92e'; } /* '' */
.iconsax-empty-wallet-time:before { content: '\e92f'; } /* '' */
.iconsax-eraser:before { content: '\e930'; } /* '' */
.iconsax-eraser-1:before { content: '\e931'; } /* '' */
.iconsax-eraser-2:before { content: '\e932'; } /* '' */
.iconsax-export:before { content: '\e933'; } /* '' */
.iconsax-export-1:before { content: '\e934'; } /* '' */
.iconsax-export-2:before { content: '\e935'; } /* '' */
.iconsax-export-3:before { content: '\e936'; } /* '' */
.iconsax-external-drive:before { content: '\e937'; } /* '' */
.iconsax-eye:before { content: '\e938'; } /* '' */
.iconsax-eye-slash:before { content: '\e939'; } /* '' */
.iconsax-fatrows:before { content: '\e93a'; } /* '' */
.iconsax-favorite-chart:before { content: '\e93b'; } /* '' */
.iconsax-filter:before { content: '\e93c'; } /* '' */
.iconsax-filter-add:before { content: '\e93d'; } /* '' */
.iconsax-filter-edit:before { content: '\e93e'; } /* '' */
.iconsax-filter-remove:before { content: '\e93f'; } /* '' */
.iconsax-filter-search:before { content: '\e940'; } /* '' */
.iconsax-filter-square:before { content: '\e941'; } /* '' */
.iconsax-filter-tick:before { content: '\e942'; } /* '' */
.iconsax-finger-cricle:before { content: '\e943'; } /* '' */
.iconsax-finger-scan:before { content: '\e944'; } /* '' */
.iconsax-firstline:before { content: '\e945'; } /* '' */
.iconsax-flag:before { content: '\e946'; } /* '' */
.iconsax-flag-2:before { content: '\e947'; } /* '' */
.iconsax-flash:before { content: '\e948'; } /* '' */
.iconsax-flash-1:before { content: '\e949'; } /* '' */
.iconsax-flash-circle:before { content: '\e94a'; } /* '' */
.iconsax-flash-circle-1:before { content: '\e94b'; } /* '' */
.iconsax-flash-circle-2:before { content: '\e94c'; } /* '' */
.iconsax-flash-slash:before { content: '\e94d'; } /* '' */
.iconsax-folder:before { content: '\e94e'; } /* '' */
.iconsax-folder-2:before { content: '\e94f'; } /* '' */
.iconsax-folder-add:before { content: '\e950'; } /* '' */
.iconsax-folder-cloud:before { content: '\e951'; } /* '' */
.iconsax-folder-connection:before { content: '\e952'; } /* '' */
.iconsax-folder-cross:before { content: '\e953'; } /* '' */
.iconsax-folder-favorite:before { content: '\e954'; } /* '' */
.iconsax-folder-minus:before { content: '\e955'; } /* '' */
.iconsax-folder-open:before { content: '\e956'; } /* '' */
.iconsax-format-circle:before { content: '\e957'; } /* '' */
.iconsax-format-square:before { content: '\e958'; } /* '' */
.iconsax-forward:before { content: '\e959'; } /* '' */
.iconsax-forward-5-seconds:before { content: '\e95a'; } /* '' */
.iconsax-forward-10-seconds:before { content: '\e95b'; } /* '' */
.iconsax-forward-15-seconds:before { content: '\e95c'; } /* '' */
.iconsax-forward-item:before { content: '\e95d'; } /* '' */
.iconsax-forward-item-1:before { content: '\e95e'; } /* '' */
.iconsax-forward-square:before { content: '\e95f'; } /* '' */
.iconsax-frame:before { content: '\e960'; } /* '' */
.iconsax-frame-1:before { content: '\e961'; } /* '' */
.iconsax-frame-2:before { content: '\e962'; } /* '' */
.iconsax-frame-3:before { content: '\e963'; } /* '' */
.iconsax-frame-4:before { content: '\e964'; } /* '' */
.iconsax-frame-5:before { content: '\e965'; } /* '' */
.iconsax-gallery:before { content: '\e966'; } /* '' */
.iconsax-gallery-add:before { content: '\e967'; } /* '' */
.iconsax-gallery-edit:before { content: '\e968'; } /* '' */
.iconsax-gallery-export:before { content: '\e969'; } /* '' */
.iconsax-gallery-favorite:before { content: '\e96a'; } /* '' */
.iconsax-gallery-import:before { content: '\e96b'; } /* '' */
.iconsax-gallery-remove:before { content: '\e96c'; } /* '' */
.iconsax-gallery-slash:before { content: '\e96d'; } /* '' */
.iconsax-gallery-tick:before { content: '\e96e'; } /* '' */
.iconsax-game:before { content: '\e96f'; } /* '' */
.iconsax-gameboy:before { content: '\e970'; } /* '' */
.iconsax-gas-station:before { content: '\e971'; } /* '' */
.iconsax-gemini:before { content: '\e972'; } /* '' */
.iconsax-gemini-2:before { content: '\e973'; } /* '' */
.iconsax-ghost:before { content: '\e974'; } /* '' */
.iconsax-gift:before { content: '\e975'; } /* '' */
.iconsax-glass:before { content: '\e976'; } /* '' */
.iconsax-glass-1:before { content: '\e977'; } /* '' */
.iconsax-global:before { content: '\e978'; } /* '' */
.iconsax-global-edit:before { content: '\e979'; } /* '' */
.iconsax-global-refresh:before { content: '\e97a'; } /* '' */
.iconsax-global-search:before { content: '\e97b'; } /* '' */
.iconsax-gps:before { content: '\e97c'; } /* '' */
.iconsax-gps-slash:before { content: '\e97d'; } /* '' */
.iconsax-grammerly:before { content: '\e97e'; } /* '' */
.iconsax-graph:before { content: '\e97f'; } /* '' */
.iconsax-grid-1:before { content: '\e980'; } /* '' */
.iconsax-grid-2:before { content: '\e981'; } /* '' */
.iconsax-grid-3:before { content: '\e982'; } /* '' */
.iconsax-grid-4:before { content: '\e983'; } /* '' */
.iconsax-grid-5:before { content: '\e984'; } /* '' */
.iconsax-grid-6:before { content: '\e985'; } /* '' */
.iconsax-grid-7:before { content: '\e986'; } /* '' */
.iconsax-grid-8:before { content: '\e987'; } /* '' */
.iconsax-grid-9:before { content: '\e988'; } /* '' */
.iconsax-grid-edit:before { content: '\e989'; } /* '' */
.iconsax-grid-eraser:before { content: '\e98a'; } /* '' */
.iconsax-grid-lock:before { content: '\e98b'; } /* '' */
.iconsax-group:before { content: '\e98c'; } /* '' */
.iconsax-group-1:before { content: '\e98d'; } /* '' */
.iconsax-group-2:before { content: '\e98e'; } /* '' */
.iconsax-group-3:before { content: '\e98f'; } /* '' */
.iconsax-group-4:before { content: '\e990'; } /* '' */
.iconsax-group-5:before { content: '\e991'; } /* '' */
.iconsax-group-6:before { content: '\e992'; } /* '' */
.iconsax-group-7:before { content: '\e993'; } /* '' */
.iconsax-group-8:before { content: '\e994'; } /* '' */
.iconsax-group-9:before { content: '\e995'; } /* '' */
.iconsax-group-10:before { content: '\e996'; } /* '' */
.iconsax-group-11:before { content: '\e997'; } /* '' */
.iconsax-happyemoji:before { content: '\e998'; } /* '' */
.iconsax-hashtag:before { content: '\e999'; } /* '' */
.iconsax-hashtag-1:before { content: '\e99a'; } /* '' */
.iconsax-hashtag-down:before { content: '\e99b'; } /* '' */
.iconsax-hashtag-up:before { content: '\e99c'; } /* '' */
.iconsax-headphone:before { content: '\e99d'; } /* '' */
.iconsax-headphones:before { content: '\e99e'; } /* '' */
.iconsax-health:before { content: '\e99f'; } /* '' */
.iconsax-heart:before { content: '\e9a0'; } /* '' */
.iconsax-heart-add:before { content: '\e9a1'; } /* '' */
.iconsax-heart-circle:before { content: '\e9a2'; } /* '' */
.iconsax-heart-edit:before { content: '\e9a3'; } /* '' */
.iconsax-heart-remove:before { content: '\e9a4'; } /* '' */
.iconsax-heart-search:before { content: '\e9a5'; } /* '' */
.iconsax-heart-slash:before { content: '\e9a6'; } /* '' */
.iconsax-heart-tick:before { content: '\e9a7'; } /* '' */
.iconsax-hierarchy:before { content: '\e9a8'; } /* '' */
.iconsax-hierarchy-2:before { content: '\e9a9'; } /* '' */
.iconsax-hierarchy-3:before { content: '\e9aa'; } /* '' */
.iconsax-hierarchy-square:before { content: '\e9ab'; } /* '' */
.iconsax-hierarchy-square-2:before { content: '\e9ac'; } /* '' */
.iconsax-hierarchy-square-3:before { content: '\e9ad'; } /* '' */
.iconsax-home:before { content: '\e9ae'; } /* '' */
.iconsax-home-2:before { content: '\e9af'; } /* '' */
.iconsax-home-hashtag:before { content: '\e9b0'; } /* '' */
.iconsax-home-trend-down:before { content: '\e9b1'; } /* '' */
.iconsax-home-trend-up:before { content: '\e9b2'; } /* '' */
.iconsax-home-wifi:before { content: '\e9b3'; } /* '' */
.iconsax-hospital:before { content: '\e9b4'; } /* '' */
.iconsax-house:before { content: '\e9b5'; } /* '' */
.iconsax-house-2:before { content: '\e9b6'; } /* '' */
.iconsax-image:before { content: '\e9b7'; } /* '' */
.iconsax-import:before { content: '\e9b8'; } /* '' */
.iconsax-import-1:before { content: '\e9b9'; } /* '' */
.iconsax-import-2:before { content: '\e9ba'; } /* '' */
.iconsax-info-circle:before { content: '\e9bb'; } /* '' */
.iconsax-information:before { content: '\e9bc'; } /* '' */
.iconsax-instagram:before { content: '\e9bd'; } /* '' */
.iconsax-judge:before { content: '\e9be'; } /* '' */
.iconsax-kanban:before { content: '\e9bf'; } /* '' */
.iconsax-key:before { content: '\e9c0'; } /* '' */
.iconsax-keyboard:before { content: '\e9c1'; } /* '' */
.iconsax-keyboard-open:before { content: '\e9c2'; } /* '' */
.iconsax-key-square:before { content: '\e9c3'; } /* '' */
.iconsax-lamp:before { content: '\e9c4'; } /* '' */
.iconsax-lamp-1:before { content: '\e9c5'; } /* '' */
.iconsax-lamp-charge:before { content: '\e9c6'; } /* '' */
.iconsax-lamp-on:before { content: '\e9c7'; } /* '' */
.iconsax-lamp-slash:before { content: '\e9c8'; } /* '' */
.iconsax-language-circle:before { content: '\e9c9'; } /* '' */
.iconsax-language-square:before { content: '\e9ca'; } /* '' */
.iconsax-layer:before { content: '\e9cb'; } /* '' */
.iconsax-level:before { content: '\e9cc'; } /* '' */
.iconsax-lifebuoy:before { content: '\e9cd'; } /* '' */
.iconsax-like:before { content: '\e9ce'; } /* '' */
.iconsax-like-1:before { content: '\e9cf'; } /* '' */
.iconsax-like-dislike:before { content: '\e9d0'; } /* '' */
.iconsax-like-shapes:before { content: '\e9d1'; } /* '' */
.iconsax-like-tag:before { content: '\e9d2'; } /* '' */
.iconsax-link:before { content: '\e9d3'; } /* '' */
.iconsax-link-1:before { content: '\e9d4'; } /* '' */
.iconsax-link-2:before { content: '\e9d5'; } /* '' */
.iconsax-link-21:before { content: '\e9d6'; } /* '' */
.iconsax-link-circle:before { content: '\e9d7'; } /* '' */
.iconsax-link-square:before { content: '\e9d8'; } /* '' */
.iconsax-location:before { content: '\e9d9'; } /* '' */
.iconsax-location-add:before { content: '\e9da'; } /* '' */
.iconsax-location-cross:before { content: '\e9db'; } /* '' */
.iconsax-location-minus:before { content: '\e9dc'; } /* '' */
.iconsax-location-slash:before { content: '\e9dd'; } /* '' */
.iconsax-location-tick:before { content: '\e9de'; } /* '' */
.iconsax-lock:before { content: '\e9df'; } /* '' */
.iconsax-lock-1:before { content: '\e9e0'; } /* '' */
.iconsax-lock-circle:before { content: '\e9e1'; } /* '' */
.iconsax-lock-slash:before { content: '\e9e2'; } /* '' */
.iconsax-login:before { content: '\e9e3'; } /* '' */
.iconsax-login-1:before { content: '\e9e4'; } /* '' */
.iconsax-logout:before { content: '\e9e5'; } /* '' */
.iconsax-logout-1:before { content: '\e9e6'; } /* '' */
.iconsax-lovely:before { content: '\e9e7'; } /* '' */
.iconsax-magicpen:before { content: '\e9e8'; } /* '' */
.iconsax-magic-star:before { content: '\e9e9'; } /* '' */
.iconsax-main-component:before { content: '\e9ea'; } /* '' */
.iconsax-main-component-1:before { content: '\e9eb'; } /* '' */
.iconsax-man:before { content: '\e9ec'; } /* '' */
.iconsax-map:before { content: '\e9ed'; } /* '' */
.iconsax-map-1:before { content: '\e9ee'; } /* '' */
.iconsax-mask:before { content: '\e9ef'; } /* '' */
.iconsax-mask-1:before { content: '\e9f0'; } /* '' */
.iconsax-mask-2:before { content: '\e9f1'; } /* '' */
.iconsax-mask-3:before { content: '\e9f2'; } /* '' */
.iconsax-math:before { content: '\e9f3'; } /* '' */
.iconsax-maximize:before { content: '\e9f4'; } /* '' */
.iconsax-maximize-1:before { content: '\e9f5'; } /* '' */
.iconsax-maximize-2:before { content: '\e9f6'; } /* '' */
.iconsax-maximize-3:before { content: '\e9f7'; } /* '' */
.iconsax-maximize-4:before { content: '\e9f8'; } /* '' */
.iconsax-maximize-21:before { content: '\e9f9'; } /* '' */
.iconsax-maximize-circle:before { content: '\e9fa'; } /* '' */
.iconsax-medal:before { content: '\e9fb'; } /* '' */
.iconsax-medal-star:before { content: '\e9fc'; } /* '' */
.iconsax-menu:before { content: '\e9fd'; } /* '' */
.iconsax-menu-1:before { content: '\e9fe'; } /* '' */
.iconsax-menu-board:before { content: '\e9ff'; } /* '' */
.iconsax-message:before { content: '\ea00'; } /* '' */
.iconsax-message-2:before { content: '\ea01'; } /* '' */
.iconsax-message-add:before { content: '\ea02'; } /* '' */
.iconsax-message-add-1:before { content: '\ea03'; } /* '' */
.iconsax-message-circle:before { content: '\ea04'; } /* '' */
.iconsax-message-edit:before { content: '\ea05'; } /* '' */
.iconsax-message-favorite:before { content: '\ea06'; } /* '' */
.iconsax-message-minus:before { content: '\ea07'; } /* '' */
.iconsax-message-notif:before { content: '\ea08'; } /* '' */
.iconsax-message-programming:before { content: '\ea09'; } /* '' */
.iconsax-message-question:before { content: '\ea0a'; } /* '' */
.iconsax-message-remove:before { content: '\ea0b'; } /* '' */
.iconsax-messages:before { content: '\ea0c'; } /* '' */
.iconsax-messages-1:before { content: '\ea0d'; } /* '' */
.iconsax-messages-2:before { content: '\ea0e'; } /* '' */
.iconsax-messages-3:before { content: '\ea0f'; } /* '' */
.iconsax-message-search:before { content: '\ea10'; } /* '' */
.iconsax-message-square:before { content: '\ea11'; } /* '' */
.iconsax-message-text:before { content: '\ea12'; } /* '' */
.iconsax-message-text-1:before { content: '\ea13'; } /* '' */
.iconsax-message-tick:before { content: '\ea14'; } /* '' */
.iconsax-message-time:before { content: '\ea15'; } /* '' */
.iconsax-microphone:before { content: '\ea16'; } /* '' */
.iconsax-microphone-2:before { content: '\ea17'; } /* '' */
.iconsax-microphone-slash:before { content: '\ea18'; } /* '' */
.iconsax-microphone-slash-1:before { content: '\ea19'; } /* '' */
.iconsax-microscope:before { content: '\ea1a'; } /* '' */
.iconsax-milk:before { content: '\ea1b'; } /* '' */
.iconsax-mini-music-sqaure:before { content: '\ea1c'; } /* '' */
.iconsax-minus:before { content: '\ea1d'; } /* '' */
.iconsax-minus-cirlce:before { content: '\ea1e'; } /* '' */
.iconsax-minus-square:before { content: '\ea1f'; } /* '' */
.iconsax-mirror:before { content: '\ea20'; } /* '' */
.iconsax-mirroring-screen:before { content: '\ea21'; } /* '' */
.iconsax-mobile:before { content: '\ea22'; } /* '' */
.iconsax-mobile-programming:before { content: '\ea23'; } /* '' */
.iconsax-money:before { content: '\ea24'; } /* '' */
.iconsax-money-2:before { content: '\ea25'; } /* '' */
.iconsax-money-3:before { content: '\ea26'; } /* '' */
.iconsax-money-4:before { content: '\ea27'; } /* '' */
.iconsax-money-add:before { content: '\ea28'; } /* '' */
.iconsax-money-change:before { content: '\ea29'; } /* '' */
.iconsax-money-forbidden:before { content: '\ea2a'; } /* '' */
.iconsax-money-recive:before { content: '\ea2b'; } /* '' */
.iconsax-money-remove:before { content: '\ea2c'; } /* '' */
.iconsax-moneys:before { content: '\ea2d'; } /* '' */
.iconsax-money-send:before { content: '\ea2e'; } /* '' */
.iconsax-money-tick:before { content: '\ea2f'; } /* '' */
.iconsax-money-time:before { content: '\ea30'; } /* '' */
.iconsax-monitor:before { content: '\ea31'; } /* '' */
.iconsax-monitor-mobbile:before { content: '\ea32'; } /* '' */
.iconsax-monitor-recorder:before { content: '\ea33'; } /* '' */
.iconsax-moon:before { content: '\ea34'; } /* '' */
.iconsax-more:before { content: '\ea35'; } /* '' */
.iconsax-more-2:before { content: '\ea36'; } /* '' */
.iconsax-more-circle:before { content: '\ea37'; } /* '' */
.iconsax-more-square:before { content: '\ea38'; } /* '' */
.iconsax-mouse:before { content: '\ea39'; } /* '' */
.iconsax-mouse-1:before { content: '\ea3a'; } /* '' */
.iconsax-mouse-circle:before { content: '\ea3b'; } /* '' */
.iconsax-mouse-square:before { content: '\ea3c'; } /* '' */
.iconsax-music:before { content: '\ea3d'; } /* '' */
.iconsax-music-circle:before { content: '\ea3e'; } /* '' */
.iconsax-music-dashboard:before { content: '\ea3f'; } /* '' */
.iconsax-music-filter:before { content: '\ea40'; } /* '' */
.iconsax-music-library-2:before { content: '\ea41'; } /* '' */
.iconsax-musicnote:before { content: '\ea42'; } /* '' */
.iconsax-music-play:before { content: '\ea43'; } /* '' */
.iconsax-music-playlist:before { content: '\ea44'; } /* '' */
.iconsax-music-square:before { content: '\ea45'; } /* '' */
.iconsax-music-square-add:before { content: '\ea46'; } /* '' */
.iconsax-music-square-remove:before { content: '\ea47'; } /* '' */
.iconsax-music-square-search:before { content: '\ea48'; } /* '' */
.iconsax-next:before { content: '\ea49'; } /* '' */
.iconsax-note:before { content: '\ea4a'; } /* '' */
.iconsax-note-1:before { content: '\ea4b'; } /* '' */
.iconsax-note-2:before { content: '\ea4c'; } /* '' */
.iconsax-note-21:before { content: '\ea4d'; } /* '' */
.iconsax-note-add:before { content: '\ea4e'; } /* '' */
.iconsax-note-favorite:before { content: '\ea4f'; } /* '' */
.iconsax-note-remove:before { content: '\ea50'; } /* '' */
.iconsax-note-square:before { content: '\ea51'; } /* '' */
.iconsax-note-text:before { content: '\ea52'; } /* '' */
.iconsax-notification:before { content: '\ea53'; } /* '' */
.iconsax-notification-1:before { content: '\ea54'; } /* '' */
.iconsax-notification-bing:before { content: '\ea55'; } /* '' */
.iconsax-notification-circle:before { content: '\ea56'; } /* '' */
.iconsax-notification-favorite:before { content: '\ea57'; } /* '' */
.iconsax-notification-status:before { content: '\ea58'; } /* '' */
.iconsax-omega-circle:before { content: '\ea59'; } /* '' */
.iconsax-omega-circle-1:before { content: '\ea5a'; } /* '' */
.iconsax-omega-square:before { content: '\ea5b'; } /* '' */
.iconsax-omega-square-1:before { content: '\ea5c'; } /* '' */
.iconsax-paintbucket:before { content: '\ea5d'; } /* '' */
.iconsax-paperclip:before { content: '\ea5e'; } /* '' */
.iconsax-paperclip-2:before { content: '\ea5f'; } /* '' */
.iconsax-password-check:before { content: '\ea60'; } /* '' */
.iconsax-path:before { content: '\ea61'; } /* '' */
.iconsax-path-2:before { content: '\ea62'; } /* '' */
.iconsax-path-square:before { content: '\ea63'; } /* '' */
.iconsax-pause:before { content: '\ea64'; } /* '' */
.iconsax-pause-circle:before { content: '\ea65'; } /* '' */
.iconsax-pen-add:before { content: '\ea66'; } /* '' */
.iconsax-pen-add-1:before { content: '\ea67'; } /* '' */
.iconsax-pen-close:before { content: '\ea68'; } /* '' */
.iconsax-pen-close-1:before { content: '\ea69'; } /* '' */
.iconsax-pen-remove:before { content: '\ea6a'; } /* '' */
.iconsax-pen-remove-1:before { content: '\ea6b'; } /* '' */
.iconsax-pen-tool:before { content: '\ea6c'; } /* '' */
.iconsax-pen-tool-1:before { content: '\ea6d'; } /* '' */
.iconsax-pen-tool-2:before { content: '\ea6e'; } /* '' */
.iconsax-pen-tool-2-1:before { content: '\ea6f'; } /* '' */
.iconsax-people:before { content: '\ea70'; } /* '' */
.iconsax-percentage-square:before { content: '\ea71'; } /* '' */
.iconsax-personalcard:before { content: '\ea72'; } /* '' */
.iconsax-pet:before { content: '\ea73'; } /* '' */
.iconsax-pharagraphspacing:before { content: '\ea74'; } /* '' */
.iconsax-picture-frame:before { content: '\ea75'; } /* '' */
.iconsax-play:before { content: '\ea76'; } /* '' */
.iconsax-play-add:before { content: '\ea77'; } /* '' */
.iconsax-play-circle:before { content: '\ea78'; } /* '' */
.iconsax-play-cricle:before { content: '\ea79'; } /* '' */
.iconsax-play-remove:before { content: '\ea7a'; } /* '' */
.iconsax-presention-chart:before { content: '\ea7b'; } /* '' */
.iconsax-previous:before { content: '\ea7c'; } /* '' */
.iconsax-printer:before { content: '\ea7d'; } /* '' */
.iconsax-printer-slash:before { content: '\ea7e'; } /* '' */
.iconsax-profile:before { content: '\ea7f'; } /* '' */
.iconsax-profile-2user:before { content: '\ea80'; } /* '' */
.iconsax-profile-add:before { content: '\ea81'; } /* '' */
.iconsax-profile-circle:before { content: '\ea82'; } /* '' */
.iconsax-profile-delete:before { content: '\ea83'; } /* '' */
.iconsax-profile-remove:before { content: '\ea84'; } /* '' */
.iconsax-profile-tick:before { content: '\ea85'; } /* '' */
.iconsax-programming-arrow:before { content: '\ea86'; } /* '' */
.iconsax-programming-arrows:before { content: '\ea87'; } /* '' */
.iconsax-quote-down:before { content: '\ea88'; } /* '' */
.iconsax-quote-down-circle:before { content: '\ea89'; } /* '' */
.iconsax-quote-down-square:before { content: '\ea8a'; } /* '' */
.iconsax-quote-up:before { content: '\ea8b'; } /* '' */
.iconsax-quote-up-circle:before { content: '\ea8c'; } /* '' */
.iconsax-quote-up-square:before { content: '\ea8d'; } /* '' */
.iconsax-radar:before { content: '\ea8e'; } /* '' */
.iconsax-radar-1:before { content: '\ea8f'; } /* '' */
.iconsax-radar-2:before { content: '\ea90'; } /* '' */
.iconsax-radio:before { content: '\ea91'; } /* '' */
.iconsax-ram:before { content: '\ea92'; } /* '' */
.iconsax-ram-2:before { content: '\ea93'; } /* '' */
.iconsax-ranking:before { content: '\ea94'; } /* '' */
.iconsax-ranking-1:before { content: '\ea95'; } /* '' */
.iconsax-receipt:before { content: '\ea96'; } /* '' */
.iconsax-receipt-1:before { content: '\ea97'; } /* '' */
.iconsax-receipt-2:before { content: '\ea98'; } /* '' */
.iconsax-receipt-2-1:before { content: '\ea99'; } /* '' */
.iconsax-receipt-add:before { content: '\ea9a'; } /* '' */
.iconsax-receipt-discount:before { content: '\ea9b'; } /* '' */
.iconsax-receipt-disscount:before { content: '\ea9c'; } /* '' */
.iconsax-receipt-edit:before { content: '\ea9d'; } /* '' */
.iconsax-receipt-item:before { content: '\ea9e'; } /* '' */
.iconsax-receipt-minus:before { content: '\ea9f'; } /* '' */
.iconsax-receipt-search:before { content: '\eaa0'; } /* '' */
.iconsax-receipt-square:before { content: '\eaa1'; } /* '' */
.iconsax-receipt-text:before { content: '\eaa2'; } /* '' */
.iconsax-received:before { content: '\eaa3'; } /* '' */
.iconsax-receive-square:before { content: '\eaa4'; } /* '' */
.iconsax-receive-square-2:before { content: '\eaa5'; } /* '' */
.iconsax-record:before { content: '\eaa6'; } /* '' */
.iconsax-record-circle:before { content: '\eaa7'; } /* '' */
.iconsax-recovery-convert:before { content: '\eaa8'; } /* '' */
.iconsax-redo:before { content: '\eaa9'; } /* '' */
.iconsax-refresh:before { content: '\eaaa'; } /* '' */
.iconsax-refresh-2:before { content: '\eaab'; } /* '' */
.iconsax-refresh-circle:before { content: '\eaac'; } /* '' */
.iconsax-refresh-left-square:before { content: '\eaad'; } /* '' */
.iconsax-refresh-right-square:before { content: '\eaae'; } /* '' */
.iconsax-refresh-square-2:before { content: '\eaaf'; } /* '' */
.iconsax-repeat:before { content: '\eab0'; } /* '' */
.iconsax-repeat-circle:before { content: '\eab1'; } /* '' */
.iconsax-repeate-music:before { content: '\eab2'; } /* '' */
.iconsax-repeate-one:before { content: '\eab3'; } /* '' */
.iconsax-reserve:before { content: '\eab4'; } /* '' */
.iconsax-rotate-left:before { content: '\eab5'; } /* '' */
.iconsax-rotate-left-1:before { content: '\eab6'; } /* '' */
.iconsax-rotate-right:before { content: '\eab7'; } /* '' */
.iconsax-rotate-right-1:before { content: '\eab8'; } /* '' */
.iconsax-route-square:before { content: '\eab9'; } /* '' */
.iconsax-routing:before { content: '\eaba'; } /* '' */
.iconsax-routing-2:before { content: '\eabb'; } /* '' */
.iconsax-row-horizontal:before { content: '\eabc'; } /* '' */
.iconsax-row-vertical:before { content: '\eabd'; } /* '' */
.iconsax-ruler&pen:before { content: '\eabe'; } /* '' */
.iconsax-ruler:before { content: '\eabf'; } /* '' */
.iconsax-safe-home:before { content: '\eac0'; } /* '' */
.iconsax-sagittarius:before { content: '\eac1'; } /* '' */
.iconsax-save-2:before { content: '\eac2'; } /* '' */
.iconsax-save-add:before { content: '\eac3'; } /* '' */
.iconsax-save-minus:before { content: '\eac4'; } /* '' */
.iconsax-save-remove:before { content: '\eac5'; } /* '' */
.iconsax-scan:before { content: '\eac6'; } /* '' */
.iconsax-scan-barcode:before { content: '\eac7'; } /* '' */
.iconsax-scanner:before { content: '\eac8'; } /* '' */
.iconsax-scanning:before { content: '\eac9'; } /* '' */
.iconsax-scissor:before { content: '\eaca'; } /* '' */
.iconsax-scissor-1:before { content: '\eacb'; } /* '' */
.iconsax-scissor-2:before { content: '\eacc'; } /* '' */
.iconsax-screenmirroring:before { content: '\eacd'; } /* '' */
.iconsax-scroll:before { content: '\eace'; } /* '' */
.iconsax-search-favorite:before { content: '\eacf'; } /* '' */
.iconsax-search-favorite-1:before { content: '\ead0'; } /* '' */
.iconsax-search-normal:before { content: '\ead1'; } /* '' */
.iconsax-search-normal-1:before { content: '\ead2'; } /* '' */
.iconsax-search-status:before { content: '\ead3'; } /* '' */
.iconsax-search-status-1:before { content: '\ead4'; } /* '' */
.iconsax-search-zoom-in:before { content: '\ead5'; } /* '' */
.iconsax-search-zoom-in-1:before { content: '\ead6'; } /* '' */
.iconsax-search-zoom-out:before { content: '\ead7'; } /* '' */
.iconsax-search-zoom-out-1:before { content: '\ead8'; } /* '' */
.iconsax-security:before { content: '\ead9'; } /* '' */
.iconsax-security-card:before { content: '\eada'; } /* '' */
.iconsax-security-safe:before { content: '\eadb'; } /* '' */
.iconsax-security-time:before { content: '\eadc'; } /* '' */
.iconsax-security-user:before { content: '\eadd'; } /* '' */
.iconsax-send:before { content: '\eade'; } /* '' */
.iconsax-send-1:before { content: '\eadf'; } /* '' */
.iconsax-send-2:before { content: '\eae0'; } /* '' */
.iconsax-send-sqaure-2:before { content: '\eae1'; } /* '' */
.iconsax-send-square:before { content: '\eae2'; } /* '' */
.iconsax-setting:before { content: '\eae3'; } /* '' */
.iconsax-setting-2:before { content: '\eae4'; } /* '' */
.iconsax-setting-3:before { content: '\eae5'; } /* '' */
.iconsax-setting-4:before { content: '\eae6'; } /* '' */
.iconsax-setting-5:before { content: '\eae7'; } /* '' */
.iconsax-settings:before { content: '\eae8'; } /* '' */
.iconsax-shapes:before { content: '\eae9'; } /* '' */
.iconsax-shapes-1:before { content: '\eaea'; } /* '' */
.iconsax-shapes-2:before { content: '\eaeb'; } /* '' */
.iconsax-share:before { content: '\eaec'; } /* '' */
.iconsax-shield:before { content: '\eaed'; } /* '' */
.iconsax-shield-cross:before { content: '\eaee'; } /* '' */
.iconsax-shield-search:before { content: '\eaef'; } /* '' */
.iconsax-shield-security:before { content: '\eaf0'; } /* '' */
.iconsax-shield-slash:before { content: '\eaf1'; } /* '' */
.iconsax-shield-tick:before { content: '\eaf2'; } /* '' */
.iconsax-ship:before { content: '\eaf3'; } /* '' */
.iconsax-shop:before { content: '\eaf4'; } /* '' */
.iconsax-shop-add:before { content: '\eaf5'; } /* '' */
.iconsax-shopping-bag:before { content: '\eaf6'; } /* '' */
.iconsax-shopping-cart:before { content: '\eaf7'; } /* '' */
.iconsax-shop-remove:before { content: '\eaf8'; } /* '' */
.iconsax-sidebar-bottom:before { content: '\eaf9'; } /* '' */
.iconsax-sidebar-left:before { content: '\eafa'; } /* '' */
.iconsax-sidebar-right:before { content: '\eafb'; } /* '' */
.iconsax-sidebar-top:before { content: '\eafc'; } /* '' */
.iconsax-signpost:before { content: '\eafd'; } /* '' */
.iconsax-simcard:before { content: '\eafe'; } /* '' */
.iconsax-simcard-1:before { content: '\eaff'; } /* '' */
.iconsax-simcard-2:before { content: '\eb00'; } /* '' */
.iconsax-size:before { content: '\eb01'; } /* '' */
.iconsax-slash:before { content: '\eb02'; } /* '' */
.iconsax-slider:before { content: '\eb03'; } /* '' */
.iconsax-slider-horizontal:before { content: '\eb04'; } /* '' */
.iconsax-slider-horizontal-1:before { content: '\eb05'; } /* '' */
.iconsax-slider-vertical:before { content: '\eb06'; } /* '' */
.iconsax-slider-vertical-1:before { content: '\eb07'; } /* '' */
.iconsax-smallcaps:before { content: '\eb08'; } /* '' */
.iconsax-smart-car:before { content: '\eb09'; } /* '' */
.iconsax-smart-home:before { content: '\eb0a'; } /* '' */
.iconsax-smileys:before { content: '\eb0b'; } /* '' */
.iconsax-sms:before { content: '\eb0c'; } /* '' */
.iconsax-sms-edit:before { content: '\eb0d'; } /* '' */
.iconsax-sms-notification:before { content: '\eb0e'; } /* '' */
.iconsax-sms-search:before { content: '\eb0f'; } /* '' */
.iconsax-sms-star:before { content: '\eb10'; } /* '' */
.iconsax-sms-tracking:before { content: '\eb11'; } /* '' */
.iconsax-sort:before { content: '\eb12'; } /* '' */
.iconsax-sound:before { content: '\eb13'; } /* '' */
.iconsax-speaker:before { content: '\eb14'; } /* '' */
.iconsax-speedometer:before { content: '\eb15'; } /* '' */
.iconsax-star:before { content: '\eb16'; } /* '' */
.iconsax-star-1:before { content: '\eb17'; } /* '' */
.iconsax-star-slash:before { content: '\eb18'; } /* '' */
.iconsax-status:before { content: '\eb19'; } /* '' */
.iconsax-status-up:before { content: '\eb1a'; } /* '' */
.iconsax-sticker:before { content: '\eb1b'; } /* '' */
.iconsax-stickynote:before { content: '\eb1c'; } /* '' */
.iconsax-stop:before { content: '\eb1d'; } /* '' */
.iconsax-stop-circle:before { content: '\eb1e'; } /* '' */
.iconsax-story:before { content: '\eb1f'; } /* '' */
.iconsax-strongbox:before { content: '\eb20'; } /* '' */
.iconsax-strongbox-2:before { content: '\eb21'; } /* '' */
.iconsax-subtitle:before { content: '\eb22'; } /* '' */
.iconsax-sun:before { content: '\eb23'; } /* '' */
.iconsax-sun-1:before { content: '\eb24'; } /* '' */
.iconsax-sun-fog:before { content: '\eb25'; } /* '' */
.iconsax-tag:before { content: '\eb26'; } /* '' */
.iconsax-tag-2:before { content: '\eb27'; } /* '' */
.iconsax-tag-cross:before { content: '\eb28'; } /* '' */
.iconsax-tag-right:before { content: '\eb29'; } /* '' */
.iconsax-tag-user:before { content: '\eb2a'; } /* '' */
.iconsax-task:before { content: '\eb2b'; } /* '' */
.iconsax-task-square:before { content: '\eb2c'; } /* '' */
.iconsax-teacher:before { content: '\eb2d'; } /* '' */
.iconsax-text:before { content: '\eb2e'; } /* '' */
.iconsax-textalign-center:before { content: '\eb2f'; } /* '' */
.iconsax-textalign-justifycenter:before { content: '\eb30'; } /* '' */
.iconsax-textalign-justifyleft:before { content: '\eb31'; } /* '' */
.iconsax-textalign-justifyright:before { content: '\eb32'; } /* '' */
.iconsax-textalign-left:before { content: '\eb33'; } /* '' */
.iconsax-textalign-right:before { content: '\eb34'; } /* '' */
.iconsax-text-block:before { content: '\eb35'; } /* '' */
.iconsax-text-bold:before { content: '\eb36'; } /* '' */
.iconsax-text-italic:before { content: '\eb37'; } /* '' */
.iconsax-text-underline:before { content: '\eb38'; } /* '' */
.iconsax-tick-circle:before { content: '\eb39'; } /* '' */
.iconsax-ticket:before { content: '\eb3a'; } /* '' */
.iconsax-ticket-2:before { content: '\eb3b'; } /* '' */
.iconsax-ticket-discount:before { content: '\eb3c'; } /* '' */
.iconsax-ticket-expired:before { content: '\eb3d'; } /* '' */
.iconsax-ticket-star:before { content: '\eb3e'; } /* '' */
.iconsax-tick-square:before { content: '\eb3f'; } /* '' */
.iconsax-timer:before { content: '\eb40'; } /* '' */
.iconsax-timer-1:before { content: '\eb41'; } /* '' */
.iconsax-timer-pause:before { content: '\eb42'; } /* '' */
.iconsax-timer-start:before { content: '\eb43'; } /* '' */
.iconsax-toggle-off:before { content: '\eb44'; } /* '' */
.iconsax-toggle-off-circle:before { content: '\eb45'; } /* '' */
.iconsax-toggle-on:before { content: '\eb46'; } /* '' */
.iconsax-toggle-on-circle:before { content: '\eb47'; } /* '' */
.iconsax-trade:before { content: '\eb48'; } /* '' */
.iconsax-transaction-minus:before { content: '\eb49'; } /* '' */
.iconsax-translate:before { content: '\eb4a'; } /* '' */
.iconsax-trash:before { content: '\eb4b'; } /* '' */
.iconsax-tree:before { content: '\eb4c'; } /* '' */
.iconsax-trend-down:before { content: '\eb4d'; } /* '' */
.iconsax-trend-up:before { content: '\eb4e'; } /* '' */
.iconsax-triangle:before { content: '\eb4f'; } /* '' */
.iconsax-truck-remove:before { content: '\eb50'; } /* '' */
.iconsax-truck-tick:before { content: '\eb51'; } /* '' */
.iconsax-truck-time:before { content: '\eb52'; } /* '' */
.iconsax-trush-square:before { content: '\eb53'; } /* '' */
.iconsax-undo:before { content: '\eb54'; } /* '' */
.iconsax-unlimited:before { content: '\eb55'; } /* '' */
.iconsax-unlock:before { content: '\eb56'; } /* '' */
.iconsax-user:before { content: '\eb57'; } /* '' */
.iconsax-user-add:before { content: '\eb58'; } /* '' */
.iconsax-user-cirlce-add:before { content: '\eb59'; } /* '' */
.iconsax-user-edit:before { content: '\eb5a'; } /* '' */
.iconsax-user-minus:before { content: '\eb5b'; } /* '' */
.iconsax-user-octagon:before { content: '\eb5c'; } /* '' */
.iconsax-user-remove:before { content: '\eb5d'; } /* '' */
.iconsax-user-search:before { content: '\eb5e'; } /* '' */
.iconsax-user-square:before { content: '\eb5f'; } /* '' */
.iconsax-user-tag:before { content: '\eb60'; } /* '' */
.iconsax-user-tick:before { content: '\eb61'; } /* '' */
.iconsax-verify:before { content: '\eb62'; } /* '' */
.iconsax-video:before { content: '\eb63'; } /* '' */
.iconsax-video-add:before { content: '\eb64'; } /* '' */
.iconsax-video-circle:before { content: '\eb65'; } /* '' */
.iconsax-video-horizontal:before { content: '\eb66'; } /* '' */
.iconsax-video-octagon:before { content: '\eb67'; } /* '' */
.iconsax-video-play:before { content: '\eb68'; } /* '' */
.iconsax-video-remove:before { content: '\eb69'; } /* '' */
.iconsax-video-slash:before { content: '\eb6a'; } /* '' */
.iconsax-video-square:before { content: '\eb6b'; } /* '' */
.iconsax-video-tick:before { content: '\eb6c'; } /* '' */
.iconsax-video-time:before { content: '\eb6d'; } /* '' */
.iconsax-video-vertical:before { content: '\eb6e'; } /* '' */
.iconsax-voice-cricle:before { content: '\eb6f'; } /* '' */
.iconsax-voice-square:before { content: '\eb70'; } /* '' */
.iconsax-volume-cross:before { content: '\eb71'; } /* '' */
.iconsax-volume-high:before { content: '\eb72'; } /* '' */
.iconsax-volume-low:before { content: '\eb73'; } /* '' */
.iconsax-volume-low-1:before { content: '\eb74'; } /* '' */
.iconsax-volume-mute:before { content: '\eb75'; } /* '' */
.iconsax-volume-slash:before { content: '\eb76'; } /* '' */
.iconsax-volume-up:before { content: '\eb77'; } /* '' */
.iconsax-wallet:before { content: '\eb78'; } /* '' */
.iconsax-wallet-1:before { content: '\eb79'; } /* '' */
.iconsax-wallet-2:before { content: '\eb7a'; } /* '' */
.iconsax-wallet-3:before { content: '\eb7b'; } /* '' */
.iconsax-wallet-add:before { content: '\eb7c'; } /* '' */
.iconsax-wallet-add-1:before { content: '\eb7d'; } /* '' */
.iconsax-wallet-check:before { content: '\eb7e'; } /* '' */
.iconsax-wallet-minus:before { content: '\eb7f'; } /* '' */
.iconsax-wallet-money:before { content: '\eb80'; } /* '' */
.iconsax-wallet-remove:before { content: '\eb81'; } /* '' */
.iconsax-wallet-search:before { content: '\eb82'; } /* '' */
.iconsax-warning-2:before { content: '\eb83'; } /* '' */
.iconsax-watch:before { content: '\eb84'; } /* '' */
.iconsax-watch-status:before { content: '\eb85'; } /* '' */
.iconsax-weight:before { content: '\eb86'; } /* '' */
.iconsax-weight-1:before { content: '\eb87'; } /* '' */
.iconsax-wifi:before { content: '\eb88'; } /* '' */
.iconsax-wifi-square:before { content: '\eb89'; } /* '' */
.iconsax-wind:before { content: '\eb8a'; } /* '' */
.iconsax-wind-2:before { content: '\eb8b'; } /* '' */
.iconsax-woman:before { content: '\eb8c'; } /* '' */
.iconsax-3dcube:before { content: '\eb8d'; } /* '' */
.iconsax-3d-cube-scan:before { content: '\eb8e'; } /* '' */
.iconsax-3d-rotate:before { content: '\eb8f'; } /* '' */
.iconsax-3d-square:before { content: '\eb90'; } /* '' */
.iconsax-3square:before { content: '\eb91'; } /* '' */
.iconsax-24-support:before { content: '\eb92'; } /* '' */
.iconsax-activity:before { content: '\eb93'; } /* '' */
.iconsax-add:before { content: '\eb94'; } /* '' */
.iconsax-add-circle:before { content: '\eb95'; } /* '' */
.iconsax-additem:before { content: '\eb96'; } /* '' */
